<img style="float: right;" src="https://c402277.ssl.cf1.rackcdn.com/photos/13100/images/featured_story/BIC_128.png?1485963152">
# Pandas

- Python package that is essentially a souped-up Excel
- Built off numpy, so you will see a lot of similarity
- Adds **labels** to data for easy readability
- Adds an analog of R data frames

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## Contents
- [Series](#series)
- [DataFrames](#dataframes)
- [Pandas Index](#index)
- [Hierarchical index](#hierarchical)
- [Missing data](#missing)
- [`groupby`](#group)
- [Merging, joining, concatenating](#combine)

___
<a id='series'></a>
## Series
- "One-dimensional ndarray with axis labels", Pandas
- Time series are fit well for this
- Individual data points are labelled and reffered to by the Series's **Index**

### Creating a Series

- `Series` function can create Series from lists, arrays, dictionaries, and many other Python objects

In [ ]:
# Calcium imaging data
ca_data = np.loadtxt('data_for_lectures/ca-traces.txt', delimiter=',')

In [ ]:
ca_data[0, :]

In [ ]:
plt.plot(ca_data[0, :])

In [ ]:
neuron0 = pd.Series(data=ca_data[0, :])
neuron0

You can add labels for indices.

In [ ]:
ts = np.arange(0, ca_data.shape[1]) * 0.2
neuron0 = pd.Series(data=ca_data[0, :], index=ts)
neuron0.head()

In [ ]:
plt.plot(neuron0);

In [ ]:
neuron0.plot();

Dictionaries already have labels supplied!

In [ ]:
genotype = {
    'mouse2': 'Cre+',
    'mouse5': 'Cre-',
    'mouse6': 'Cre-',
    'mouse9': 'Cre+',
}

In [ ]:
pd.Series(genotype)

Note that any object can be provided, not just numbers. Here we provided strings, but we could also provide any other type of object.

### Using an Index

- Defined by an ndarray of the same size as the series
- Used as a guide for operations

In [ ]:
np1 = pd.Series([24, 20, 55, 32, 100], index=['mouse5', 'mouse6', 'mouse9', 'mouse2', 'mouse10'])
np2 = pd.Series([20, 20, 33, 51], index=['mouse5', 'mouse6', 'mouse2', 'mouse91'])

In [ ]:
np1

In [ ]:
np2.size

In [ ]:
np1['mouse9']

In [ ]:
np2['mouse9']

In [ ]:
np1.add(np2, fill_value=0)

---
<a id='dataframes'></a>
## DataFrames

- 2-dimensional Pandas objects (vs 1-dimensional Series)
- Essentially a column stack of Series
- Similar to data frames of R

In [ ]:
# Calcium imaging data
ca_data = np.loadtxt('data_for_lectures/ca-traces.txt', delimiter=',')

In [ ]:
pd.DataFrame(ca_data).head()

Add labels to really take advantage of Pandas

In [ ]:
neuron_name = ['neuron{}'.format(n) for n in range(ca_data.shape[0])]
df_ca = pd.DataFrame(ca_data.T, index=ts, columns=neuron_name)
df_ca.tail()

You can give your columns and indices names for convenience.

In [ ]:
df_ca.columns.name

In [ ]:
df_ca.columns.name = 'neuron'
df_ca.index.name = 'time'
df_ca

### Selection and Indexing

- Choose columns with brackets `[]` we are used to (unless you use boolean mask, see [conditional selection](#conditional))
- `loc` method allows you to choose index then, optionally, column
- `iloc` method allows you to choose index, column by numeric location (like a numpy array)

In [ ]:
type(df_ca['neuron0'])

You can pass a list as well (just like numpy arrays)

In [ ]:
df_ca[0.0, 'neuron0']

### Creating a new column

In [ ]:
df_ca['neuron46'] = df_ca['neuron0'] * 2
df_ca['neuron46']

In [ ]:
df_ca

### Removing columns

In [ ]:
df_ca = df_ca.drop('neuron46', axis=1)
df_ca['neuron46']

Most methods do not act on the DataFrame!  
Instead, it creates a **copy**.

In [ ]:
df_ca = df_ca.drop('neuron46', axis=1)

# Or use parameter `inplace`
# df_ca.drop('neuron46', axis=1, inplace=True)

Can also drop rows this way:

In [ ]:
df_ca.drop(0.0, axis=0)

In [ ]:
df_ca[['neuron0', 'neuron1']]

### Selecting rows

In [ ]:
df_ca.loc[0:10]

### Selecting by row AND column

In [ ]:
df_ca.loc[0:100, 'neuron0':'neuron3']

**Notice slice INCLUDES stop index**

In [ ]:
df_ca.iloc[0:10]

In [ ]:
df_ca.iloc[0:500, 0:3]

**Notice slicing with iloc EXCLUDES stop index**  
Just like numpy array slicing

<a id='conditional'></a>
### Conditional selection
- Very similar to how we  did it in numpy
- Boolean mask in bracket notation will select **indices**
- `isin` method is useful if checking if values are equal to one of multiple values

#### Boolean masks

- Provide boolean mask on index (rows) using bracket notation `[]`

In [ ]:
# in situ data
# insitu_ctrl = np.loadtxt('data_for_lectures/insitu-ctrl.txt')
# insitu_fat = np.loadtxt('data_for_lectures/insitu-fat.txt')

insitu_ctrl = pd.read_csv(
    'data_for_lectures/insitu-ctrl.txt',
    delimiter=' ',
    header=None,
).transpose()

insitu_fat = pd.read_csv(
    'data_for_lectures/insitu-fat.txt',
    delimiter=' ',
    header=None,
).transpose()

for df in [insitu_ctrl, insitu_fat]:
    df.columns = ['nts', 'vgat', 'vglut2']
    df.columns.name = 'gene'
    df.index.name = 'cell'

# insitu_ctrl.columns = ['nts', 'vgat', 'vglut2']
# insitu_ctrl.columns.name = 'gene'
# insitu_ctrl.index.name = 'cell'

# insitu_fat.columns = ['nts', 'vgat', 'vglut2']
# insitu_fat.columns.name = 'gene'
# insitu_fat.index.name = 'cell'
    
insitu_ctrl

In [ ]:
insitu_ctrl.shape

In [ ]:
insitu_fat.shape

In [ ]:
list('abcde')

In [ ]:
df = pd.DataFrame(np.arange(20).reshape(4, 5), columns=list('abcde'))
df

In [ ]:
df[df['a'] > 7]

In [ ]:
insitu_ctrl[insitu_ctrl['nts'] > 245]

In [ ]:
insitu_ctrl[insitu_ctrl['nts'] > 245]['vgat']

For two conditions you can use `|` and `&` with parentheses.

In [ ]:
insitu_ctrl[(insitu_ctrl['nts'] > 60) & (insitu_ctrl['vgat'] > 60)]

#### `DataFrame.isin`

In [4]:
gene_expr = pd.read_csv('data_for_lectures/gene-expr.csv')
gene_expr

      myAUC  avg_diff  power  cluster           gene
0     0.897  1.622876  0.794        0           Gad2
1     0.861  1.151010  0.722        0  A030009H04Rik
2     0.857  1.025466  0.714        0         Nap1l5
3     0.845  1.056095  0.690        0          Zwint
4     0.839  0.980689  0.678        0        Zcchc18
5     0.838  0.910083  0.676        0           Ttc3
6     0.835  0.976621  0.670        0         Snhg11
7     0.835  0.959488  0.670        0           Meg3
8     0.832  0.983590  0.664        0          Celf4
9     0.831  1.233286  0.662        0           Gad1
10    0.830  0.986635  0.660        0         Snap25
11    0.830  0.937059  0.660        0         Atp1b1
12    0.828  1.141674  0.656        0           Syt1
13    0.828  0.962677  0.656        0         Impact
14    0.825  1.183220  0.650        0        Slc32a1
15    0.825  0.973680  0.650        0            Nsf
16    0.825  0.964731  0.650        0          Vsnl1
17    0.823  0.969593  0.646        0       Atp6v1g2
18    0.821  0.937424  0.642        0           Ahi1
19    0.820  0.902410  0.640        0           Mdh1
20    0.817  0.946529  0.634        0           Syn2
21    0.816  0.899202  0.632        0          Gap43
22    0.816  0.894171  0.632        0           Peg3
23    0.815  0.910571  0.630        0          Ndrg4
24    0.813  0.935064  0.626        0           Got1
25    0.811  0.833034  0.622        0          Fkbp3
26    0.810  0.850628  0.620        0           Bex2
27    0.809  0.832525  0.618        0          Stmn2
28    0.808  0.845924  0.616        0          Stmn3
29    0.808  0.756265  0.616        0          Calm2
...     ...       ...    ...      ...            ...
6836  0.702  0.236489  0.404       41          Zmym4
6837  0.702  0.231858  0.404       41        Gpalpp1
6838  0.702  0.229910  0.404       41         Cnot10
6839  0.702  0.228727  0.404       41         Sh3gl3
6840  0.702  0.226665  0.404       41        Kbtbd11
6841  0.702  0.219809  0.404       41          Trap1
6842  0.702  0.201794  0.404       41          Sf3a1
6843  0.701  0.701339  0.402       41          Mpv17
6844  0.701  0.604046  0.402       41           Crcp
6845  0.701  0.541703  0.402       41          Hook1
6846  0.701  0.521397  0.402       41         Eif2s1
6847  0.701  0.483509  0.402       41           Cdh8
6848  0.701  0.483287  0.402       41          Yipf1
6849  0.701  0.479468  0.402       41         Tmem64
6850  0.701  0.337303  0.402       41          Gspt2
6851  0.701  0.336413  0.402       41           Ache
6852  0.701  0.327700  0.402       41           Elp3
6853  0.701  0.312878  0.402       41  2510002D24Rik
6854  0.701  0.300703  0.402       41          Rusc1
6855  0.701  0.296462  0.402       41           Acp1
6856  0.701  0.292901  0.402       41         Rpp25l
6857  0.701  0.288783  0.402       41         Cluap1
6858  0.701  0.253214  0.402       41          Ptprf
6859  0.701  0.247281  0.402       41          Fahd1
6860  0.701  0.243664  0.402       41          Med22
6861  0.701  0.241898  0.402       41         Alkbh5
6862  0.701  0.237161  0.402       41           Rnd2
6863  0.701  0.223083  0.402       41        Nsmce4a
6864  0.701  0.216527  0.402       41        Snrnp48
6865  0.701  0.203931  0.402       41          Usp32

[6866 rows x 5 columns]

In [9]:
np.where(gaba_ix == True)

(array([   0,    9,   14, 2477, 2572, 2598, 2761, 2810, 2822, 3133, 3175,
        3176, 3764, 4111, 4781, 4944, 5055]),)

In [5]:
gaba_ix = gene_expr['gene'].isin(['Gad2', 'Gad1', 'Slc32a1'])
gaba_ix

0        True
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9        True
10      False
11      False
12      False
13      False
14       True
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
6836    False
6837    False
6838    False
6839    False
6840    False
6841    False
6842    False
6843    False
6844    False
6845    False
6846    False
6847    False
6848    False
6849    False
6850    False
6851    False
6852    False
6853    False
6854    False
6855    False
6856    False
6857    False
6858    False
6859    False
6860    False
6861    False
6862    False
6863    False
6864    False
6865    False
Name: gene, Length: 6866, dtype: bool

In [6]:
gene_expr[gaba_ix]

      myAUC  avg_diff  power  cluster     gene
0     0.897  1.622876  0.794        0     Gad2
9     0.831  1.233286  0.662        0     Gad1
14    0.825  1.183220  0.650        0  Slc32a1
2477  0.738  0.744624  0.476       16     Gad1
2572  0.723  0.752828  0.446       16  Slc32a1
2598  0.719  0.855336  0.438       16     Gad2
2761  0.838  1.094347  0.676       19     Gad2
2810  0.784  0.903642  0.568       19  Slc32a1
2822  0.772  0.877460  0.544       19     Gad1
3133  0.817  0.993828  0.634       22     Gad2
3175  0.773  0.759802  0.546       22  Slc32a1
3176  0.773  0.720728  0.546       22     Gad1
3764  0.743  0.882369  0.486       32     Gad1
4111  0.705  0.816879  0.410       33     Gad1
4781  0.913  1.138414  0.826       41     Gad1
4944  0.888  1.256803  0.776       41     Gad2
5055  0.869  0.580712  0.738       41  Slc32a1

---
<a id='index'></a>
## Pandas Index (and columns)
- Numpy array that act as labels for axes of DataFrames and Series
- Index object defines columns and indices (rows)

### Changing the index with method `reset_index` and `set_index`

In [ ]:
df_ca.head()

In [ ]:
# Remove current index
df_ca = df_ca.reset_index()
df_ca.head()

In [ ]:
new_ix = df_ca['time'] / 60  # `reset_index` moved the old index into a new column named 'index'
df_ca['time (m)'] = new_ix

In [ ]:
df_ca.head()

In [ ]:
# Set column 'time (m) as new index
df_ca = df_ca.set_index('time (m)')
df_ca.head()

---
<a id='hierarchical'></a>
## Multi-Index and Index Hierarchy

- Add multiple levels to column and/or row labels
- Can simulate multidimensional data

In [10]:
columns = pd.MultiIndex.from_tuples(
    [
        ('Cre+', 'mouse2'),
        ('Cre-', 'mouse5'),
        ('Cre-', 'mouse6'),
        ('Cre+', 'mouse9'),
    ],
    names=['genotype', 'mouse']
)
index = pd.Index(['first half', 'second half'], name='time epoch')

df_np = pd.DataFrame([[32, 24, 20, 55], [33, 20, 20, 51]], columns=columns, index=index)
df_np

genotype      Cre+   Cre-          Cre+
mouse       mouse2 mouse5 mouse6 mouse9
time epoch
first half      32     24     20     55
second half     33     20     20     51

Sort index to organize data with method `sort_index`.

In [11]:
df_np = df_np.sort_index(axis=1, level=0)
df_np

genotype      Cre+          Cre-
mouse       mouse2 mouse9 mouse5 mouse6
time epoch
first half      32     55     24     20
second half     33     51     20     20

### Indexing hierarchichal index

- Use **tuple** to index each level
- Remember a list would select multiple values on one axis (or level in the case of multilevels)
- Use `slice(None)` to select entire level
- `DataFrame.xs` method can select levels as well
- `DataFrame.iloc` is not affected by multilevel
- Use `DataFrame.sort_index` method to enable full indexing with hierarchical indices

In [12]:
df_np['Cre+']

mouse        mouse2  mouse9
time epoch
first half       32      55
second half      33      51

In [13]:
df_np[('Cre+', 'mouse2')]

time epoch
first half     32
second half    33
Name: (Cre+, mouse2), dtype: int64

Let's load in some gene expression data

In [14]:
gene_expr = pd.read_csv('data_for_lectures/gene-expr.csv')
gene_expr.head()

   myAUC  avg_diff  power  cluster           gene
0  0.897  1.622876  0.794        0           Gad2
1  0.861  1.151010  0.722        0  A030009H04Rik
2  0.857  1.025466  0.714        0         Nap1l5
3  0.845  1.056095  0.690        0          Zwint
4  0.839  0.980689  0.678        0        Zcchc18

Create hierarchical index

In [ ]:
gene_expr = gene_expr.set_index(['cluster', 'gene'])
gene_expr = gene_expr.sort_index(axis=0)  # Necessary to fully index

In [17]:
gene_expr.tail()

                myAUC  avg_diff  power
cluster gene
41      mt-Nd1  0.930  0.766301  0.860
        mt-Nd2  0.878  0.741010  0.756
        mt-Nd5  0.814  0.822959  0.628
        mt-Te   0.746  0.567904  0.492
        mt-Tp   0.726  0.381493  0.452

Index DataFrame

In [19]:
gene_expr.loc[40]

               myAUC  avg_diff  power
gene
1500015O10Rik  0.954  3.867684  0.908
Arl6ip1        0.810  1.348885  0.620
Calml4         0.727  2.138549  0.454
Clu            0.807  0.864561  0.614
Cox8a          0.728  1.273930  0.456
Crebrf         0.713  1.505117  0.426
Enpp2          0.808  2.715721  0.616
Etfb           0.768  1.614254  0.536
Fam213a        0.774  1.165361  0.548
Folr1          0.727  2.399573  0.454
Ifi27          0.731  1.467346  0.462
Kcnj13         0.818  2.639885  0.636
Ldhb           0.719  0.991457  0.438
Ndufa1         0.796  1.640072  0.592
Slco1c1        0.703  1.463944  0.406
Sostdc1        0.814  2.723922  0.628
Ttr            0.861  7.574794  0.722
Vamp8          0.713  1.750695  0.426

Indexing both axes: notice parentheses

In [21]:
gene_expr.loc[40, 'myAUC']
# df.loc[(40, slice(None)), 'myAUC']  # Alternative

gene
1500015O10Rik    0.954
Arl6ip1          0.810
Calml4           0.727
Clu              0.807
Cox8a            0.728
Crebrf           0.713
Enpp2            0.808
Etfb             0.768
Fam213a          0.774
Folr1            0.727
Ifi27            0.731
Kcnj13           0.818
Ldhb             0.719
Ndufa1           0.796
Slco1c1          0.703
Sostdc1          0.814
Ttr              0.861
Vamp8            0.713
Name: myAUC, dtype: float64

Indexing both axes: notice parentheses

In [23]:
gene_expr.loc[(slice(None), 'Slc32a1'), slice(None)]

                 myAUC  avg_diff  power
cluster gene
0       Slc32a1  0.825  1.183220  0.650
16      Slc32a1  0.723  0.752828  0.446
19      Slc32a1  0.784  0.903642  0.568
22      Slc32a1  0.773  0.759802  0.546
41      Slc32a1  0.869  0.580712  0.738

#### `slice` object

- Inputs look just like normal slice: `slice(start, end, step)`

In [24]:
arr = np.arange(50).reshape(-1, 5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34],
       [35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44],
       [45, 46, 47, 48, 49]])

In [25]:
arr[0:2, :]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [26]:
arr[slice(0, 2), slice(None)]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [29]:
sl = slice(0, 2)
arr[:, sl]

array([[ 0,  1],
       [ 5,  6],
       [10, 11],
       [15, 16],
       [20, 21],
       [25, 26],
       [30, 31],
       [35, 36],
       [40, 41],
       [45, 46]])

In [35]:
gene_expr.loc[(slice(None), 'Slc32a1'), slice(None)]

                 myAUC  avg_diff  power
cluster gene
0       Slc32a1  0.825  1.183220  0.650
16      Slc32a1  0.723  0.752828  0.446
19      Slc32a1  0.784  0.903642  0.568
22      Slc32a1  0.773  0.759802  0.546
41      Slc32a1  0.869  0.580712  0.738

#### `DataFrame.xs`

In [34]:
gene_expr.xs('Slc32a1', axis=0, level='gene')

         myAUC  avg_diff  power
cluster
0        0.825  1.183220  0.650
16       0.723  0.752828  0.446
19       0.784  0.903642  0.568
22       0.773  0.759802  0.546
41       0.869  0.580712  0.738

### Manipulating levels

- `DataFrame.stack` and `DataFrame.unstack` to move between row and column
- `DataFrame.pivot` and `DataFrame.melt` are similar but work not on Index objects but rather columns within the data.
- `DataFrame.droplevel`
- `DataFrame.reorder_levels`

In [36]:
columns = pd.MultiIndex.from_tuples(
    [
        ('drug X', 'Cre+', 'mouse2'),
        ('drug X', 'Cre-', 'mouse5'),
        ('drug X', 'Cre-', 'mouse6'),
        ('drug X', 'Cre+', 'mouse9'),
        ('drug Y', 'Cre+', 'mouse2'),
        ('drug Y', 'Cre-', 'mouse5'),
        ('drug Y', 'Cre-', 'mouse6'),
        ('drug Y', 'Cre+', 'mouse9'),
    ],
    names=['drug', 'genotype', 'mouse']
)
index = pd.Index(['first half', 'second half'], name='time epoch')

df_np_drug = pd.DataFrame([[32, 24, 20, 55, 77, 65, 66, 101], [33, 20, 20, 51, 76, 69, 68, 123]], columns=columns, index=index)
df_np_drug

drug        drug X                      drug Y
genotype      Cre+   Cre-          Cre+   Cre+   Cre-          Cre+
mouse       mouse2 mouse5 mouse6 mouse9 mouse2 mouse5 mouse6 mouse9
time epoch
first half      32     24     20     55     77     65     66    101
second half     33     20     20     51     76     69     68    123

In [37]:
stacked = df_np_drug.stack(['mouse', 'genotype'])
# stacked = df_np_drug.stack(-1)
stacked

drug                         drug X  drug Y
time epoch  mouse  genotype
first half  mouse2 Cre+        32.0    77.0
            mouse5 Cre-        24.0    65.0
            mouse6 Cre-        20.0    66.0
            mouse9 Cre+        55.0   101.0
second half mouse2 Cre+        33.0    76.0
            mouse5 Cre-        20.0    69.0
            mouse6 Cre-        20.0    68.0
            mouse9 Cre+        51.0   123.0

In [113]:
stacked.sort_index(axis=0, level=['time epoch', 'genotype', 'mouse'])

drug                         drug X  drug Y
time epoch  mouse  genotype
first half  mouse2 Cre+        32.0    77.0
            mouse9 Cre+        55.0   101.0
            mouse5 Cre-        24.0    65.0
            mouse6 Cre-        20.0    66.0
second half mouse2 Cre+        33.0    76.0
            mouse9 Cre+        51.0   123.0
            mouse5 Cre-        20.0    69.0
            mouse6 Cre-        20.0    68.0

In [40]:
stacked.sort_index(axis=0, level='genotype')

drug                         drug X  drug Y
time epoch  mouse  genotype
first half  mouse2 Cre+        32.0    77.0
            mouse9 Cre+        55.0   101.0
second half mouse2 Cre+        33.0    76.0
            mouse9 Cre+        51.0   123.0
first half  mouse5 Cre-        24.0    65.0
            mouse6 Cre-        20.0    66.0
second half mouse5 Cre-        20.0    69.0
            mouse6 Cre-        20.0    68.0

In [38]:
reordered = stacked.reorder_levels(['genotype', 'mouse', 'time epoch'], axis=0)
reordered

drug                         drug X  drug Y
genotype mouse  time epoch
Cre+     mouse2 first half     32.0    77.0
Cre-     mouse5 first half     24.0    65.0
         mouse6 first half     20.0    66.0
Cre+     mouse9 first half     55.0   101.0
         mouse2 second half    33.0    76.0
Cre-     mouse5 second half    20.0    69.0
         mouse6 second half    20.0    68.0
Cre+     mouse9 second half    51.0   123.0

In [39]:
sortedd = reordered.sort_index(axis=0)
sortedd

drug                         drug X  drug Y
genotype mouse  time epoch
Cre+     mouse2 first half     32.0    77.0
                second half    33.0    76.0
         mouse9 first half     55.0   101.0
                second half    51.0   123.0
Cre-     mouse5 first half     24.0    65.0
                second half    20.0    69.0
         mouse6 first half     20.0    66.0
                second half    20.0    68.0

### Stacking picture
![stack](http://nikgrozev.com/images/blog/Reshaping%20in%20Pandas%20-%20Pivot%20Pivot-Table%20Stack%20and%20Unstack%20explained%20with%20Pictures/stack-unstack1.png)
nikgrozev.com

---
<a id='mising'></a>
## Missing data and `nan`

- We've already seen how missing data poitns are filled with `nan`
- `nan` typically ignored by default (unlike numpy, remember `nanmean` and `nanmax`?)
- Can be easily removed with `dropna` method

In [41]:
df_wts = pd.DataFrame({
    'mouse2': [29, 29, np.nan, 30, 29],
    'mouse5': [31, 30, np.nan, 30, 30],
    'mouse6': [33, 32, np.nan, np.nan, 33]
})

In [42]:
df_wts

   mouse2  mouse5  mouse6
0    29.0    31.0    33.0
1    29.0    30.0    32.0
2     NaN     NaN     NaN
3    30.0    30.0     NaN
4    29.0    30.0    33.0

In [43]:
df_wts.mean()

mouse2    29.250000
mouse5    30.250000
mouse6    32.666667
dtype: float64

In [44]:
df_wts.dropna(axis=0, how='any')

   mouse2  mouse5  mouse6
0    29.0    31.0    33.0
1    29.0    30.0    32.0
4    29.0    30.0    33.0

In [45]:
df_wts.dropna(axis=0, how='all')

   mouse2  mouse5  mouse6
0    29.0    31.0    33.0
1    29.0    30.0    32.0
3    30.0    30.0     NaN
4    29.0    30.0    33.0

In [46]:
df_wts.fillna(value=df_wts.mean())

   mouse2  mouse5     mouse6
0   29.00   31.00  33.000000
1   29.00   30.00  32.000000
2   29.25   30.25  32.666667
3   30.00   30.00  32.666667
4   29.00   30.00  33.000000

In [47]:
df_wts.interpolate(method='linear', axis=0)

   mouse2  mouse5     mouse6
0    29.0    31.0  33.000000
1    29.0    30.0  32.000000
2    29.5    30.0  32.333333
3    30.0    30.0  32.666667
4    29.0    30.0  33.000000

---
<a id='group'></a>
## `DataFrame.groupby` and `DataFrame.apply`

- Used to apply opeartions on subset of DataFrame

![groupby](https://i.stack.imgur.com/sgCn1.jpg)
stackoverflow.com

### Partitioning (grouping) data

In [48]:
df = pd.read_csv('data_for_lectures/gene-expr.csv')
df.head()

   myAUC  avg_diff  power  cluster           gene
0  0.897  1.622876  0.794        0           Gad2
1  0.861  1.151010  0.722        0  A030009H04Rik
2  0.857  1.025466  0.714        0         Nap1l5
3  0.845  1.056095  0.690        0          Zwint
4  0.839  0.980689  0.678        0        Zcchc18

In [50]:
df[df['cluster'] == 0]

     myAUC  avg_diff  power  cluster           gene
0    0.897  1.622876  0.794        0           Gad2
1    0.861  1.151010  0.722        0  A030009H04Rik
2    0.857  1.025466  0.714        0         Nap1l5
3    0.845  1.056095  0.690        0          Zwint
4    0.839  0.980689  0.678        0        Zcchc18
5    0.838  0.910083  0.676        0           Ttc3
6    0.835  0.976621  0.670        0         Snhg11
7    0.835  0.959488  0.670        0           Meg3
8    0.832  0.983590  0.664        0          Celf4
9    0.831  1.233286  0.662        0           Gad1
10   0.830  0.986635  0.660        0         Snap25
11   0.830  0.937059  0.660        0         Atp1b1
12   0.828  1.141674  0.656        0           Syt1
13   0.828  0.962677  0.656        0         Impact
14   0.825  1.183220  0.650        0        Slc32a1
15   0.825  0.973680  0.650        0            Nsf
16   0.825  0.964731  0.650        0          Vsnl1
17   0.823  0.969593  0.646        0       Atp6v1g2
18   0.821  0.937424  0.642        0           Ahi1
19   0.820  0.902410  0.640        0           Mdh1
20   0.817  0.946529  0.634        0           Syn2
21   0.816  0.899202  0.632        0          Gap43
22   0.816  0.894171  0.632        0           Peg3
23   0.815  0.910571  0.630        0          Ndrg4
24   0.813  0.935064  0.626        0           Got1
25   0.811  0.833034  0.622        0          Fkbp3
26   0.810  0.850628  0.620        0           Bex2
27   0.809  0.832525  0.618        0          Stmn2
28   0.808  0.845924  0.616        0          Stmn3
29   0.808  0.756265  0.616        0          Calm2
..     ...       ...    ...      ...            ...
293  0.705  0.658662  0.410        0           Hpca
294  0.705  0.599194  0.410        0         Gabra3
295  0.705  0.557049  0.410        0         Gm1673
296  0.705  0.462744  0.410        0          Fubp1
297  0.705  0.435049  0.410        0       Mphosph8
298  0.705  0.404382  0.410        0          Acot7
299  0.705  0.396974  0.410        0          Stip1
300  0.704  0.559668  0.408        0           Pcp4
301  0.704  0.445969  0.408        0          Ncald
302  0.704  0.384159  0.408        0        Atp6ap2
303  0.703  0.595120  0.406        0           Sgtb
304  0.703  0.581855  0.406        0          Sept3
305  0.703  0.500169  0.406        0           Ensa
306  0.703  0.488703  0.406        0         Syngr1
307  0.703  0.469329  0.406        0           Dpp6
308  0.703  0.447144  0.406        0           Tbca
309  0.703  0.400418  0.406        0         Uqcr10
310  0.703  0.399502  0.406        0          Calm3
311  0.703  0.393759  0.406        0         Atp2b1
312  0.703  0.389828  0.406        0          Dctn3
313  0.702  0.472168  0.404        0          Synj1
314  0.702  0.404623  0.404        0          Gnao1
315  0.702  0.398932  0.404        0        Smarca2
316  0.702  0.378522  0.404        0          Atp5h
317  0.702  0.371431  0.404        0         Ndufb9
318  0.701  0.596651  0.402        0           Ppa1
319  0.701  0.471182  0.402        0        Nkiras1
320  0.701  0.376932  0.402        0         Ociad1
321  0.701  0.364375  0.402        0        Ccdc104
322  0.701  0.364205  0.402        0       Atp6v0e2

[323 rows x 5 columns]

In [52]:
df.groupby('cluster').max()

         myAUC  avg_diff  power     gene
cluster
0        0.897  1.622876  0.794    Zwint
1        0.864  1.291036  0.728     Zeb2
2        0.901  1.617671  0.802    Zwint
3        0.955  4.077598  0.910      Vim
4        0.869  1.362237  0.738  mt-Rnr2
5        0.961  2.531546  0.922  Zdhhc20
6        0.856  1.159741  0.712    Ywhaq
7        0.711  0.819242  0.422   Nap1l5
8        0.887  1.526280  0.774  Tsc22d4
9        0.953  2.442071  0.906    Ttyh1
10       0.863  1.342726  0.726  mt-Rnr2
11       0.933  2.356429  0.866    Ttyh1
12       0.832  1.160318  0.664   Tspan2
13       0.994  4.606169  0.988    Zfp36
14       0.958  2.409023  0.916    Ttyh1
15       0.872  1.443601  0.744   Tspan2
16       0.875  1.060577  0.750   Zyg11b
17       0.882  1.285685  0.764    Ugt8a
18       0.870  1.323532  0.740   Tspan2
19       0.872  1.373833  0.744    Zwint
20       0.795  1.029798  0.590    Zwint
21       0.939  2.630507  0.878  Zcchc24
22       0.862  2.272029  0.724    Zwint
23       0.709  0.719729  0.418   Nap1l5
24       0.849  1.157181  0.698      Trf
25       0.855  2.560687  0.710     Vcan
26       0.904  1.589773  0.808   mt-Nd5
27       0.740  0.877212  0.480   Nap1l5
28       0.723  1.041097  0.446     Ttc3
29       0.978  4.333331  0.956      Vtn
30       0.994  5.555040  0.988  Zcchc12
31       1.000  4.938122  1.000   mt-Nd4
32       0.894  1.549922  0.788    Zwint
33       0.841  2.536834  0.682    Zwint
34       1.000  5.131995  1.000      Vtn
35       0.912  1.585150  0.824  mt-Cytb
36       0.986  6.028806  0.972    Uchl1
37       0.975  4.509848  0.950  Zfp36l1
38       0.995  3.438096  0.990   Zfp365
39       0.911  6.915862  0.822   Hbb-bt
40       0.954  7.574794  0.908    Vamp8
41       0.997  2.137707  0.994    mt-Tp

In [56]:
df_np

genotype      Cre+          Cre-
mouse       mouse2 mouse9 mouse5 mouse6
time epoch
first half      32     55     24     20
second half     33     51     20     20

In [55]:
df_np.describe()

genotype       Cre+                  Cre-
mouse        mouse2     mouse9     mouse5 mouse6
count      2.000000   2.000000   2.000000    2.0
mean      32.500000  53.000000  22.000000   20.0
std        0.707107   2.828427   2.828427    0.0
min       32.000000  51.000000  20.000000   20.0
25%       32.250000  52.000000  21.000000   20.0
50%       32.500000  53.000000  22.000000   20.0
75%       32.750000  54.000000  23.000000   20.0
max       33.000000  55.000000  24.000000   20.0

In [59]:
df.groupby('cluster')

In [58]:
for x, y in df.groupby('cluster'): print x, y

0      myAUC  avg_diff  power  cluster           gene
0    0.897  1.622876  0.794        0           Gad2
1    0.861  1.151010  0.722        0  A030009H04Rik
2    0.857  1.025466  0.714        0         Nap1l5
3    0.845  1.056095  0.690        0          Zwint
4    0.839  0.980689  0.678        0        Zcchc18
5    0.838  0.910083  0.676        0           Ttc3
6    0.835  0.976621  0.670        0         Snhg11
7    0.835  0.959488  0.670        0           Meg3
8    0.832  0.983590  0.664        0          Celf4
9    0.831  1.233286  0.662        0           Gad1
10   0.830  0.986635  0.660        0         Snap25
11   0.830  0.937059  0.660        0         Atp1b1
12   0.828  1.141674  0.656        0           Syt1
13   0.828  0.962677  0.656        0         Impact
14   0.825  1.183220  0.650        0        Slc32a1
15   0.825  0.973680  0.650        0            Nsf
16   0.825  0.964731  0.650        0          Vsnl1
17   0.823  0.969593  0.646        0       Atp6v1g2
18   0.821  0.937424  0.642        0           Ahi1
19   0.820  0.902410  0.640        0           Mdh1
20   0.817  0.946529  0.634        0           Syn2
21   0.816  0.899202  0.632        0          Gap43
22   0.816  0.894171  0.632        0           Peg3
23   0.815  0.910571  0.630        0          Ndrg4
24   0.813  0.935064  0.626        0           Got1
25   0.811  0.833034  0.622        0          Fkbp3
26   0.810  0.850628  0.620        0           Bex2
27   0.809  0.832525  0.618        0          Stmn2
28   0.808  0.845924  0.616        0          Stmn3
29   0.808  0.756265  0.616        0          Calm2
..     ...       ...    ...      ...            ...
293  0.705  0.658662  0.410        0           Hpca
294  0.705  0.599194  0.410        0         Gabra3
295  0.705  0.557049  0.410        0         Gm1673
296  0.705  0.462744  0.410        0          Fubp1
297  0.705  0.435049  0.410        0       Mphosph8
298  0.705  0.404382  0.410        0          Acot7
299  0.705  0.396974  0.410        0          Stip1
300  0.704  0.559668  0.408        0           Pcp4
301  0.704  0.445969  0.408        0          Ncald
302  0.704  0.384159  0.408        0        Atp6ap2
303  0.703  0.595120  0.406        0           Sgtb
304  0.703  0.581855  0.406        0          Sept3
305  0.703  0.500169  0.406        0           Ensa
306  0.703  0.488703  0.406        0         Syngr1
307  0.703  0.469329  0.406        0           Dpp6
308  0.703  0.447144  0.406        0           Tbca
309  0.703  0.400418  0.406        0         Uqcr10
310  0.703  0.399502  0.406        0          Calm3
311  0.703  0.393759  0.406        0         Atp2b1
312  0.703  0.389828  0.406        0          Dctn3
313  0.702  0.472168  0.404        0          Synj1
314  0.702  0.404623  0.404        0          Gnao1
315  0.702  0.398932  0.404        0        Smarca2
316  0.702  0.378522  0.404        0          Atp5h
317  0.702  0.371431  0.404        0         Ndufb9
318  0.701  0.596651  0.402        0           Ppa1
319  0.701  0.471182  0.402        0        Nkiras1
320  0.701  0.376932  0.402        0         Ociad1
321  0.701  0.364375  0.402        0        Ccdc104
322  0.701  0.364205  0.402        0       Atp6v0e2

[323 rows x 5 columns]
1      myAUC  avg_diff  power  cluster      gene
323  0.864  1.291036  0.728        1     Ptgds
324  0.863  1.172053  0.726        1     Cryab
325  0.862  1.186842  0.724        1       Mal
326  0.862  1.178350  0.724        1      Qdpr
327  0.856  1.156797  0.712        1    Cldn11
328  0.856  1.111541  0.712        1     Sept4
329  0.852  1.116397  0.704        1       Cnp
330  0.851  1.190707  0.702        1    Tspan2
331  0.844  1.089128  0.688        1      Mobp
332  0.842  1.192338  0.684        1      Il33
333  0.841  1.091625  0.682        1       Mog
334  0.841  1.075645  0.682        1      Car2
335  0.841  1.028939  0.682        1     Enpp2
336  0.840  1.058861  0.680        1      Gatm
337  0.838  0.997781  0.676        1     Aplp1
338  0.834  1.036551  0.668        1      Ermn
339  0.833  0.965594  0.666        1      Fth1
340  0.831  1.038802  0.662        1       Mag
341  0.829  1.030222  0.658        1       Mbp
342  0.828  1.134934  0.656        1   Tmem88b
343  0.828  1.076149  0.656        1      Bin1
344  0.822  1.125150  0.644        1    Opalin
345  0.822  1.073215  0.644        1      Plp1
346  0.822  0.955203  0.644        1       Trf
347  0.819  1.061017  0.638        1     Desi1
348  0.816  1.078293  0.632        1     Pex5l
349  0.816  0.882013  0.632        1     Stmn4
350  0.814  0.756162  0.628        1      Apod
351  0.812  0.826471  0.624        1      Scd2
352  0.810  0.684755  0.620        1       App
..     ...       ...    ...      ...       ...
402  0.734  0.716839  0.468        1     Sirt2
403  0.733  0.658473  0.466        1     Mbnl2
404  0.732  0.520960  0.464        1     Syt11
405  0.727  0.739534  0.454        1      Tppp
406  0.726  0.856903  0.452        1     Csrp1
407  0.724  0.779099  0.448        1     Edil3
408  0.723  0.850001  0.446        1      Lgi3
409  0.723  0.816137  0.446        1     Cntn2
410  0.723  0.567797  0.446        1      Mapt
411  0.721  0.816720  0.442        1      Map7
412  0.720  0.680908  0.440        1   Osbpl1a
413  0.720  0.660744  0.440        1     Degs1
414  0.718  0.773327  0.436        1   Pip4k2a
415  0.716  0.787717  0.432        1     Josd2
416  0.714  0.640354  0.428        1  Epb4.1l3
417  0.714  0.467214  0.428        1      Cd81
418  0.713  0.673718  0.426        1      Vmp1
419  0.712  0.779798  0.424        1      Zeb2
420  0.709  0.853827  0.418        1   Tnfaip6
421  0.707  0.759111  0.414        1  Mapk8ip1
422  0.707  0.656569  0.414        1   Hepacam
423  0.707  0.564348  0.414        1    Kcnj10
424  0.706  0.852288  0.412        1      Clmn
425  0.706  0.806348  0.412        1     Kcna1
426  0.706  0.765774  0.412        1     Clic4
427  0.702  0.767619  0.404        1      Rhog
428  0.702  0.739599  0.404        1      Chn2
429  0.702  0.718675  0.404        1      Anln
430  0.702  0.654507  0.404        1    Agpat4
431  0.701  0.717446  0.402        1    Tmeff2

[109 rows x 5 columns]
2      myAUC  avg_diff  power  cluster           gene
432  0.901  1.617671  0.802        2        Slc17a6
433  0.829  0.908388  0.658        2         Nap1l5
434  0.827  0.967153  0.654        2         Snap25
435  0.827  0.959585  0.654        2         Snhg11
436  0.826  0.933756  0.652        2           Meg3
437  0.824  0.793936  0.648        2          Calm2
438  0.822  0.946409  0.644        2          Zwint
439  0.814  0.908754  0.628        2           Ahi1
440  0.814  0.863546  0.628        2           Gng3
441  0.813  0.820894  0.626        2           Ttc3
442  0.812  1.209407  0.624        2       Cacna2d1
443  0.812  0.875349  0.624        2  A030009H04Rik
444  0.812  0.851973  0.624        2           Eno2
445  0.811  0.833339  0.622        2          Map1b
446  0.810  0.854188  0.620        2         Resp18
447  0.809  0.870356  0.618        2         Impact
448  0.809  0.851220  0.618        2       Atp6v1g2
449  0.809  0.814506  0.618        2          Fkbp3
450  0.808  0.912004  0.616        2          Vsnl1
451  0.808  0.844107  0.616        2            Nsf
452  0.807  1.023656  0.614        2         Gabra1
453  0.807  0.836006  0.614        2         Atp1b1
454  0.806  0.893128  0.612        2           Nefl
455  0.806  0.778608  0.612        2        Tmem130
456  0.805  0.832630  0.610        2          Stmn3
457  0.804  1.154766  0.608        2           Pcp4
458  0.802  0.866276  0.604        2          Gap43
459  0.802  0.814141  0.604        2           Bex2
460  0.801  0.813483  0.602        2           Peg3
461  0.801  0.794854  0.602        2          Celf4
..     ...       ...    ...      ...            ...
744  0.705  0.567343  0.410        2        Pacsin1
745  0.705  0.520467  0.410        2          Tusc3
746  0.705  0.508356  0.410        2          Rogdi
747  0.705  0.473971  0.410        2          Synj1
748  0.705  0.407112  0.410        2         Serbp1
749  0.704  0.784732  0.408        2           Nefm
750  0.704  0.525358  0.408        2           Hap1
751  0.704  0.498620  0.408        2          Rnf14
752  0.704  0.419516  0.408        2         Hspa4l
753  0.704  0.389754  0.408        2        Smarca2
754  0.704  0.388006  0.408        2          Ghitm
755  0.704  0.370525  0.408        2          Soga3
756  0.704  0.363609  0.408        2         Uqcr10
757  0.704  0.331547  0.408        2          Fkbp2
758  0.704  0.230671  0.408        2            Cpe
759  0.703  0.446850  0.406        2        Slc25a3
760  0.703  0.411258  0.406        2          Uqcrq
761  0.703  0.390927  0.406        2        Ndufb10
762  0.702  0.651937  0.404        2          Fxyd7
763  0.702  0.565026  0.404        2           Chd5
764  0.702  0.434597  0.404        2        Chordc1
765  0.702  0.414093  0.404        2           Npm1
766  0.702  0.398639  0.404        2          Ywhaz
767  0.701  0.569912  0.402        2         Sh3gl2
768  0.701  0.528795  0.402        2           Ppa1
769  0.701  0.422634  0.402        2           Klc1
770  0.701  0.389500  0.402        2           Sars
771  0.701  0.377131  0.402        2         Atp5c1
772  0.701  0.351454  0.402        2          Ube2k
773  0.701  0.320690  0.402        2          Cntn1

[342 rows x 5 columns]
3      myAUC  avg_diff  power  cluster      gene
774  0.955  4.077598  0.910        3     Ly6c1
775  0.951  3.060102  0.902        3       Bsg
776  0.931  3.582338  0.862        3      Flt1
777  0.919  3.654828  0.838        3      Ly6a
778  0.909  3.443148  0.818        3      Pltp
779  0.904  3.650512  0.808        3     Itm2a
780  0.890  3.434841  0.780        3   Slco1a4
781  0.872  2.599903  0.744        3      Ly6e
782  0.861  3.154082  0.722        3    Abcb1a
783  0.861  2.325114  0.722        3       B2m
784  0.855  2.368610  0.710        3    Spock2
785  0.851  3.078327  0.702        3       Id3
786  0.841  2.917275  0.682        3   Slco1c1
787  0.838  3.045251  0.676        3    Gpr116
788  0.829  3.017600  0.658        3      Klf2
789  0.826  1.752282  0.652        3       Jun
790  0.823  1.880270  0.646        3    Sptbn1
791  0.819  2.610341  0.638        3    Igfbp7
792  0.811  1.038518  0.622        3    Tmsb4x
793  0.807  2.965927  0.614        3       Id1
794  0.800  3.149060  0.600        3    Cxcl12
795  0.795  2.548739  0.590        3    Slc2a1
796  0.781  2.846155  0.562        3     Ptprb
797  0.778  2.588018  0.556        3     Egfl7
798  0.772  2.548998  0.544        3      Esam
799  0.770  1.887051  0.540        3    Nfkbia
800  0.767  1.340816  0.534        3     Sepp1
801  0.765  2.547050  0.530        3      Srgn
802  0.761  2.544520  0.522        3     Ramp2
803  0.757  2.331707  0.514        3    Slc6a6
804  0.757  2.230761  0.514        3     H2-D1
805  0.754  1.837484  0.508        3   Tsc22d1
806  0.752  2.417281  0.504        3      Sdpr
807  0.744  2.435998  0.488        3    Ifitm3
808  0.743  1.975905  0.486        3    Myl12a
809  0.742  2.347564  0.484        3  Slc9a3r2
810  0.738  2.580654  0.476        3     Cldn5
811  0.735  2.670510  0.470        3      Car4
812  0.735  2.095731  0.470        3     Crip2
813  0.734  1.456532  0.468        3       Fos
814  0.728  2.142956  0.456        3    Pcp4l1
815  0.724  2.317679  0.448        3       Vim
816  0.723  2.359193  0.446        3     Abcg2
817  0.723  2.197670  0.446        3    Ablim1
818  0.717  2.242500  0.434        3      Klf4
819  0.717  1.987803  0.434        3      Ier2
820  0.714  2.443153  0.428        3    Tm4sf1
821  0.713  2.020795  0.426        3  Slc39a10
822  0.712  1.881249  0.424        3     H2-K1
823  0.711  1.878227  0.422        3      Klf6
824  0.710  0.615907  0.420        3      Actb
825  0.709  2.009746  0.418        3     Dusp1
826  0.708  0.749771  0.416        3     Sparc
827  0.702  2.110153  0.404        3      Utrn
4      myAUC  avg_diff  power  cluster     gene
828  0.869  1.362237  0.738        4  mt-Rnr2
5      myAUC  avg_diff  power  cluster       gene
829  0.961  1.827486  0.922        5       Apod
830  0.927  1.499975  0.854        5        Trf
831  0.920  1.828928  0.840        5       Anln
832  0.907  1.243057  0.814        5       Fth1
833  0.900  2.141353  0.800        5      S100b
834  0.895  1.351109  0.790        5      Sepp1
835  0.894  1.330539  0.788        5       Ermn
836  0.876  1.550319  0.752        5       Cpox
837  0.869  1.151146  0.738        5       Plp1
838  0.868  2.531546  0.736        5       Klk6
839  0.868  1.173137  0.736        5        Mag
840  0.863  1.150386  0.726        5       Mobp
841  0.859  1.098701  0.718        5      Stmn4
842  0.857  1.511199  0.714        5        Gsn
843  0.853  1.760951  0.706        5      Plin3
844  0.851  1.096881  0.702        5        Mbp
845  0.849  1.514933  0.698        5  Serpinb1a
846  0.849  1.240090  0.698        5      Ugt8a
847  0.845  1.055718  0.690        5       Fez1
848  0.843  1.176969  0.686        5      Gng11
849  0.842  1.121142  0.684        5      Ndrg1
850  0.841  1.109961  0.682        5    Gm21984
851  0.840  1.352244  0.680        5      Tppp3
852  0.836  1.097135  0.672        5      Cmtm5
853  0.830  0.997855  0.660        5        Cnp
854  0.827  1.020345  0.654        5        Mog
855  0.825  1.347776  0.650        5       Gjb1
856  0.825  1.240994  0.650        5     Sccpdh
857  0.823  0.973739  0.646        5       Car2
858  0.823  0.927944  0.646        5      Aplp1
..     ...       ...    ...      ...        ...
926  0.727  0.816246  0.454        5     Sez6l2
927  0.727  0.797843  0.454        5     Elovl5
928  0.727  0.548451  0.454        5      Pex5l
929  0.726  0.674701  0.452        5      Pcdh9
930  0.718  0.769725  0.436        5       Rhog
931  0.718  0.749423  0.436        5       Map7
932  0.718  0.565874  0.436        5       Pllp
933  0.715  0.854171  0.430        5      Rap1a
934  0.714  0.418670  0.428        5        App
935  0.713  0.915702  0.426        5     Elovl1
936  0.713  0.756670  0.426        5      Efnb3
937  0.713  0.704166  0.426        5     Elavl3
938  0.712  0.625989  0.424        5      Fnbp1
939  0.710  0.967424  0.420        5      Gstm7
940  0.709  0.892483  0.418        5     Nmral1
941  0.709  0.844505  0.418        5      Car14
942  0.709  0.659309  0.418        5       Myo6
943  0.709  0.590187  0.418        5    Fam171b
944  0.707  0.781287  0.414        5       Arsg
945  0.707  0.731343  0.414        5     Dixdc1
946  0.707  0.714834  0.414        5   Mapk8ip1
947  0.707  0.430739  0.414        5      Itm2b
948  0.705  1.063119  0.410        5      Anxa5
949  0.704  0.858428  0.408        5    Adipor2
950  0.704  0.834807  0.408        5      Spg20
951  0.704  0.613427  0.408        5       Tppp
952  0.703  0.462607  0.406        5      Olig1
953  0.701  0.910325  0.402        5        Cpd
954  0.701  0.762830  0.402        5     Inpp5f
955  0.701  0.468362  0.402        5       Bin1

[127 rows x 5 columns]
6       myAUC  avg_diff  power  cluster       gene
956   0.856  1.034653  0.712        6       Fth1
957   0.851  1.129920  0.702        6      Cryab
958   0.848  1.066403  0.696        6      Aplp1
959   0.847  1.120528  0.694        6     Cldn11
960   0.847  1.096504  0.694        6        Mal
961   0.845  1.094220  0.690        6       Qdpr
962   0.835  1.021211  0.670        6      Sept4
963   0.833  1.037315  0.666        6       Ermn
964   0.833  1.026814  0.666        6        Mbp
965   0.830  1.036659  0.660        6       Mobp
966   0.827  1.090685  0.654        6      Ptgds
967   0.826  1.043883  0.652        6       Plp1
968   0.826  1.018205  0.652        6       Car2
969   0.826  0.974919  0.652        6      Enpp2
970   0.825  1.006689  0.650        6       Gatm
971   0.825  0.991247  0.650        6        Mag
972   0.823  0.971251  0.646        6        Cnp
973   0.813  1.072084  0.626        6       Bin1
974   0.812  0.910724  0.624        6      Gpm6b
975   0.811  0.784870  0.622        6       Apod
976   0.810  0.926928  0.620        6        Trf
977   0.810  0.718110  0.620        6        App
978   0.805  1.047604  0.610        6     Tspan2
979   0.801  0.969744  0.602        6        Mog
980   0.801  0.811524  0.602        6       Scd2
981   0.799  1.159741  0.598        6    Tmem88b
982   0.799  1.091915  0.598        6       Il33
983   0.790  1.071269  0.580        6      Desi1
984   0.789  0.890281  0.578        6      Lamp1
985   0.781  0.774173  0.562        6      Stmn4
...     ...       ...    ...      ...        ...
989   0.760  0.887102  0.520        6      Ndrg1
990   0.757  0.850734  0.514        6    Tsc22d4
991   0.755  0.729608  0.510        6       Glul
992   0.753  0.945326  0.506        6      Ugt8a
993   0.753  0.892229  0.506        6    Slc48a1
994   0.751  0.867466  0.502        6      Olig1
995   0.743  0.689614  0.486        6      Kif1b
996   0.737  0.926561  0.474        6     Opalin
997   0.737  0.795366  0.474        6      Cmtm5
998   0.736  0.903720  0.472        6       Pllp
999   0.736  0.695881  0.472        6       Rtn4
1000  0.734  0.919606  0.468        6      Neat1
1001  0.734  0.793964  0.468        6      Rnf13
1002  0.733  0.898642  0.466        6      Evi2a
1003  0.728  0.669787  0.456        6       Fez1
1004  0.727  0.892083  0.454        6     Atp1b3
1005  0.726  0.530824  0.452        6      Sept7
1006  0.724  0.856516  0.448        6    Pla2g16
1007  0.722  0.562741  0.444        6        Dbi
1008  0.721  0.903555  0.442        6     Ccp110
1009  0.719  0.902034  0.438        6  Secisbp2l
1010  0.717  0.626570  0.434        6      Ywhaq
1011  0.716  0.927971  0.432        6      Grb14
1012  0.713  0.823008  0.426        6    Plekhb1
1013  0.712  0.758378  0.424        6     Taldo1
1014  0.705  0.740923  0.410        6      Ttll7
1015  0.704  0.878836  0.408        6      Gpr37
1016  0.703  0.661769  0.406        6     Sec11c
1017  0.702  0.824201  0.404        6       Aspa
1018  0.701  0.839838  0.402        6    Slc12a2

[63 rows x 5 columns]
7       myAUC  avg_diff  power  cluster    gene
1019  0.711  0.819242  0.422        7  Nap1l5
8       myAUC  avg_diff  power  cluster     gene
1020  0.887  1.188372  0.774        8     Fth1
1021  0.851  1.273331  0.702        8      Cnp
1022  0.850  1.387609  0.700        8     Qdpr
1023  0.841  1.087439  0.682        8      Mbp
1024  0.832  1.166946  0.664        8    Sept4
1025  0.830  1.179391  0.660        8     Car2
1026  0.825  1.142413  0.650        8      Mag
1027  0.822  1.047424  0.644        8    Cryab
1028  0.821  1.160448  0.642        8    Ptgds
1029  0.820  1.135083  0.640        8      Trf
1030  0.815  1.078698  0.630        8      Mal
1031  0.799  1.095524  0.598        8     Gatm
1032  0.797  1.039261  0.594        8   Cldn11
1033  0.786  1.526280  0.572        8   Opalin
1034  0.784  1.027532  0.568        8    Aplp1
1035  0.775  0.854194  0.550        8     Ermn
1036  0.773  1.043319  0.546        8    Stmn4
1037  0.773  0.950679  0.546        8     Mobp
1038  0.763  0.895869  0.526        8     Plp1
1039  0.753  0.849284  0.506        8    Enpp2
1040  0.748  0.614744  0.496        8     Apod
1041  0.747  0.706564  0.494        8     Scd2
1042  0.743  1.040982  0.486        8      Mog
1043  0.740  0.967847  0.480        8    Lamp1
1044  0.735  0.801756  0.470        8    Gpm6b
1045  0.732  1.087982  0.464        8     Il33
1046  0.731  0.275472  0.462        8     Apoe
1047  0.712  0.643911  0.424        8     Cd81
1048  0.711  0.905112  0.422        8  Tsc22d4
1049  0.707  0.717578  0.414        8      Dbi
1050  0.705  0.923259  0.410        8  Gm21984
9       myAUC  avg_diff  power  cluster      gene
1051  0.953  2.062721  0.906        9   Sparcl1
1052  0.951  2.306233  0.902        9    Atp1a2
1053  0.934  2.058661  0.868        9      Apoe

13       myAUC  avg_diff  power  cluster      gene
1165  0.994  3.266682  0.988       13      Cst3
1166  0.993  4.606169  0.986       13      Ctss
1167  0.984  4.173578  0.968       13      Hexb
1168  0.977  4.139191  0.954       13      C1qb
1169  0.951  1.757091  0.902       13    Tmsb4x
1170  0.949  3.804534  0.898       13      C1qc
1171  0.944  3.549107  0.888       13     Csf1r
1172  0.944  2.677279  0.888       13       B2m
1173  0.942  3.698652  0.884       13    Cx3cr1
1174  0.936  2.679696  0.872       13      Ctsd
1175  0.931  2.065258  0.862       13     Sparc
1176  0.928  3.490830  0.856       13   Siglech
1177  0.916  3.363064  0.832       13    Laptm5
1178  0.907  2.601856  0.814       13      Egr1
1179  0.904  3.331499  0.808       13      C1qa
1180  0.903  3.343281  0.806       13    P2ry12
1181  0.903  3.297767  0.806       13    Tyrobp
1182  0.902  2.039653  0.804       13       Jun
1183  0.891  3.178250  0.782       13    Fcer1g
1184  0.889  3.274495  0.778       13      Ly86
1185  0.889  3.230962  0.778       13    Selplg
1186  0.885  2.735918  0.770       13    Nfkbia
1187  0.878  1.106319  0.756       13      Actb
1188  0.877  2.029437  0.754       13       Fos
1189  0.870  2.325324  0.740       13      Lgmn
1190  0.864  2.662376  0.728       13     Zfp36
1191  0.847  2.912095  0.694       13     Trem2
1192  0.837  2.347839  0.674       13      Junb
1193  0.829  2.255661  0.658       13     Rgs10
1194  0.828  2.364791  0.656       13      Btg2
...     ...       ...    ...      ...       ...
1215  0.746  1.458985  0.492       13      Ly6e
1216  0.737  2.366808  0.474       13    Nfkbiz
1217  0.734  1.903046  0.468       13  Ivns1abp
1218  0.732  2.231310  0.464       13     Mpeg1
1219  0.730  2.334480  0.460       13      Mafb
1220  0.730  2.201825  0.460       13    Tgfbr1
1221  0.727  2.125210  0.454       13   Unc93b1
1222  0.727  1.927399  0.454       13      Ctsz
1223  0.724  1.456673  0.448       13     Rrbp1
1224  0.723  1.086176  0.446       13       Ubc
1225  0.722  1.398405  0.444       13      Ctsl
1226  0.719  1.767880  0.438       13      Ier2
1227  0.718  1.798305  0.436       13     Dusp1
1228  0.717  2.123050  0.434       13    KCTD12
1229  0.716  1.425098  0.432       13      Sgk1
1230  0.716  0.962571  0.432       13    Rpl13a
1231  0.715  1.337770  0.430       13     H3f3b
1232  0.713  2.063473  0.426       13      Cd53
1233  0.712  2.116475  0.424       13      Hpgd
1234  0.711  1.080994  0.422       13      Rps9
1235  0.711  0.910143  0.422       13      Ctsb
1236  0.710  1.850983  0.420       13       Grn
1237  0.709  2.047250  0.418       13   Apbb1ip
1238  0.708  2.143300  0.416       13     Lair1
1239  0.705  1.578858  0.410       13     H2-K1
1240  0.704  1.835023  0.408       13     Mertk
1241  0.702  2.150208  0.404       13       Fyb
1242  0.702  2.079684  0.404       13      Pld4
1243  0.701  1.827031  0.402       13     Mef2c
1244  0.701  1.510790  0.402       13      Klf6

[80 rows x 5 columns]
14       myAUC  avg_diff  power  cluster           gene
1245  0.958  2.065461  0.916       14        Sparcl1
1246  0.952  2.075931  0.904       14           Apoe
1247  0.950  2.143929  0.900       14         Atp1a2
1248  0.947  2.314796  0.894       14         Slc1a3
1249  0.944  2.409023  0.888       14         Slc4a4
1250  0.943  2.204537  0.886       14         Ppap2b
1251  0.943  1.938993  0.886       14          Aldoc
1252  0.940  2.394868  0.880       14            Agt
1253  0.938  2.066487  0.876       14          Ndrg2
1254  0.934  2.239209  0.868       14         Slc1a2
1255  0.932  1.444658  0.864       14           Cst3
1256  0.931  1.385392  0.862       14         Malat1
1257  0.916  2.074320  0.832       14          Ttyh1
1258  0.914  2.100104  0.828       14        Gpr37l1
1259  0.910  1.809471  0.820       14            Clu
1260  0.908  2.302179  0.816       14           Gja1
1261  0.888  1.677665  0.776       14          Sparc
1262  0.884  2.141358  0.768       14          Ednrb
1263  0.878  1.670453  0.756       14            Mt1
1264  0.871  2.155547  0.742       14         Pla2g7
1265  0.864  2.222885  0.728       14          Ntsr2
1266  0.846  2.158875  0.692       14          Itih3
1267  0.841  1.887940  0.682       14          Mfge8
1268  0.822  1.847507  0.644       14         Atp1b2
1269  0.811  2.014756  0.622       14         Cldn10
1270  0.808  1.649556  0.616       14          Acsl3
1271  0.808  1.428118  0.616       14       Serpine2
1272  0.805  1.579450  0.610       14          Ntrk2
1273  0.800  1.682532  0.600       14          Htra1
1274  0.795  1.843881  0.590       14          S1pr1
...     ...       ...    ...      ...            ...
1282  0.769  1.961680  0.538       14           Aqp4
1283  0.766  1.717965  0.532       14           Bcan
1284  0.764  1.228013  0.528       14         Sfrs18
1285  0.762  0.982238  0.524       14            Son
1286  0.759  0.873469  0.518       14            Ckb
1287  0.755  1.268891  0.510       14            Cpe
1288  0.752  1.663463  0.504       14           Mmd2
1289  0.752  1.373919  0.504       14           Nnat
1290  0.751  1.820954  0.502       14           Sdc4
1291  0.750  1.711689  0.500       14          Gpld1
1292  0.749  1.563429  0.498       14          Gstm1
1293  0.747  1.523039  0.494       14          Prdx6
1294  0.747  0.784315  0.494       14           Prnp
1295  0.741  1.748034  0.482       14         Gm3764
1296  0.737  1.521013  0.474       14         Slc6a1
1297  0.732  1.607932  0.464       14          Acsl6
1298  0.730  1.785662  0.460       14          Fgfr3
1299  0.730  1.780583  0.460       14        Slc7a10
1300  0.727  1.100271  0.454       14          Macf1
1301  0.725  1.764843  0.450       14           Mlc1
1302  0.719  1.721389  0.438       14         Acsbg1
1303  0.714  1.799009  0.428       14         Etnppl
1304  0.714  1.751516  0.428       14        Atp13a4
1305  0.712  1.434183  0.424       14         Ahcyl1
1306  0.710  1.456078  0.420       14  2310022B05Rik
1307  0.710  0.617752  0.420       14           Glul
1308  0.709  1.305531  0.418       14         Ptprz1
1309  0.707  1.750862  0.414       14          Sfrp5
1310  0.705  1.163657  0.410       14           Scg3
1311  0.703  0.623796  0.406       14          Sepp1

[67 rows x 5 columns]
15       myAUC  avg_diff  power  cluster     gene
1312  0.872  1.163969  0.744       15     Plp1
1313  0.849  1.242480  0.698       15     Car2
1314  0.847  1.246056  0.694       15     Apod
1315  0.843  1.202148  0.686       15     Ermn
1316  0.828  1.160128  0.656       15    Enpp2
1317  0.827  1.115071  0.654       15      Mag
1318  0.825  1.443601  0.650       15  Gm21984
1319  0.821  1.004283  0.642       15      Mbp
1320  0.814  1.095665  0.628       15      Mal
1321  0.802  0.998209  0.604       15     Mobp
1322  0.792  0.921281  0.584       15    Cryab
1323  0.791  0.983609  0.582       15    Gpm6b
1324  0.781  0.933462  0.562       15      Cnp
1325  0.781  0.808706  0.562       15     Scd2
1326  0.775  0.895610  0.550       15      Trf
1327  0.774  0.941764  0.548       15   Cldn11
1328  0.771  0.923288  0.542       15    Stmn4
1329  0.770  0.868955  0.540       15    Sept4
1330  0.769  0.807816  0.538       15    Sept7
1331  0.768  0.938189  0.536       15     Gatm
1332  0.760  1.205619  0.520       15   Tspan2
1333  0.757  1.102475  0.514       15    Ptgds
1334  0.743  0.981189  0.486       15      Mog
1335  0.725  0.762118  0.450       15     Glul
1336  0.725  0.588019  0.450       15     Fth1
1337  0.722  1.080797  0.444       15    Rnf13
1338  0.715  1.051984  0.430       15     Il33
1339  0.715  1.040389  0.430       15    Pex5l
1340  0.714  0.958224  0.428       15    Ndrg1
1341  0.708  1.332536  0.416       15     Anln
1342  0.707  0.512277  0.414       15      App
1343  0.706  0.810003  0.412       15       Qk
1344  0.705  0.625873  0.410       15    Syt11
16       myAUC  avg_diff  power  cluster      gene
1345  0.875  0.733612  0.750       16   Sult4a1
1346  0.870  0.799863  0.740       16     Ckmt1
1347  0.866  0.792387  0.732       16    Atp1a3
1348  0.864  0.781682  0.728       16     Bend6
1349  0.862  0.859789  0.724       16      Sncb
1350  0.862  0.828731  0.724       16       Ina
1351  0.861  0.687154  0.722       16    Eef1a2
1352  0.861  0.673588  0.722       16    Tuba4a
1353  0.860  0.763035  0.720       16    Nap1l2
1354  0.860  0.704220  0.720       16     Serp2
1355  0.859  0.750480  0.718       16    Stxbp1
1356  0.856  0.860396  0.712       16      Eno2
1357  0.856  0.743655  0.712       16   Prkar1b
1358  0.856  0.719817  0.712       16     Ywhah
1359  0.856  0.678716  0.712       16      Dnm1
1360  0.855  0.593347  0.710       16       Syp
1361  0.855  0.590108  0.710       16      Ppa1
1362  0.853  0.991512  0.706       16      Nefl
1363  0.852  0.779399  0.704       16      Napb
1364  0.852  0.662003  0.704       16    Camk2b
1365  0.850  0.788495  0.700       16    Mllt11
1366  0.850  0.726397  0.700       16     Cend1
1367  0.848  1.060577  0.696       16      Nefm
1368  0.848  0.809627  0.696       16  Atp6v1g2
1369  0.847  0.726678  0.694       16     Tubb3
1370  0.847  0.726575  0.694       16     Kif5c
1371  0.847  0.579040  0.694       16     Stau2
1372  0.846  0.928626  0.692       16     Uchl1
1373  0.846  0.921171  0.692       16     Ndrg4
1374  0.846  0.664547  0.692       16      Pak3
...     ...       ...    ...      ...       ...
2663  0.706  0.368188  0.412       16     Caln1
2664  0.706  0.321099  0.412       16    Plcxd3
2665  0.706  0.251588  0.412       16    Cyb561
2666  0.706  0.228434  0.412       16   Slc4a10
2667  0.706  0.220495  0.412       16    Gabra2
2668  0.706  0.214910  0.412       16      Ece2
2669  0.705  0.302612  0.410       16     Hspa8
2670  0.705  0.282359  0.410       16   Slitrk4
2671  0.705  0.282203  0.410       16     Cnih2
2672  0.705  0.257030  0.410       16  Arhgap26
2673  0.705  0.230563  0.410       16    Fbxl15
2674  0.705  0.224578  0.410       16   Rasgrp2
2675  0.705  0.210572  0.410       16     Ssbp4
2676  0.705  0.207042  0.410       16      Dcp2
2677  0.704  0.280649  0.408       16      Ryr2
2678  0.704  0.246460  0.408       16      Sacs
2679  0.704  0.220198  0.408       16     Ttc19
2680  0.703  0.329435  0.406       16     Cox6c
2681  0.703  0.278327  0.406       16    Baiap3
2682  0.703  0.250135  0.406       16    Nmnat2
2683  0.703  0.248654  0.406       16    Lrrc24
2684  0.703  0.210789  0.406       16    Wrnip1
2685  0.703  0.203011  0.406       16     Acyp1
2686  0.702  0.361659  0.404       16     Pde1a
2687  0.702  0.235474  0.404       16      Sco2
2688  0.702  0.203456  0.404       16     Opcml
2689  0.701  0.445298  0.402       16  Cacna2d1
2690  0.701  0.311324  0.402       16  Ankrd34b
2691  0.701  0.294407  0.402       16    Serbp1
2692  0.701  0.236241  0.402       16     Cdc42

[1348 rows x 5 columns]
17       myAUC  avg_diff  power  cluster     gene
2693  0.882  1.171756  0.764       17     Plp1
2694  0.868  1.285685  0.736       17    Cryab
2695  0.865  1.169862  0.730       17      Mbp
2696  0.863  1.076903  0.726       17     Fth1
2697  0.822  1.125566  0.644       17    Aplp1
2698  0.815  1.087005  0.630       17   Cldn11
2699  0.815  1.041908  0.630       17    Sept4
2700  0.812  1.020352  0.624       17     Car2
2701  0.811  0.883954  0.622       17     Scd2
2702  0.809  1.096231  0.618       17     Qdpr
2703  0.806  1.003850  0.612       17      Trf
2704  0.802  1.127527  0.604       17    Ptgds
2705  0.792  0.936503  0.584       17      Cnp
2706  0.791  0.923381  0.582       17      Mag
2707  0.790  0.902513  0.580       17      Mal
2708  0.787  0.932568  0.574       17    Enpp2
2709  0.786  0.895180  0.572       17     Ermn
2710  0.785  0.803818  0.570       17     Apod
2711  0.784  0.909182  0.568       17     Mobp
2712  0.769  0.951028  0.538       17     Gatm
2713  0.763  1.280713  0.526       17  Tmem88b
2714  0.763  0.850198  0.526       17    Gpm6b
2715  0.744  1.055170  0.488       17    Ndrg1
2716  0.740  0.969401  0.480       17      Mog
2717  0.731  0.773049  0.462       17    Stmn4
2718  0.730  1.154155  0.460       17    Desi1
2719  0.727  0.547683  0.454       17      App
2720  0.726  0.968632  0.452       17     Bin1
2721  0.725  0.794338  0.450       17       Qk
2722  0.720  0.776575  0.440       17     Rtn4
2723  0.714  1.059657  0.428       17    Ugt8a
2724  0.712  0.977629  0.424       17  Slc48a1
2725  0.710  0.862447  0.420       17  Tsc22d4
18       myAUC  avg_diff  power  cluster      gene
2726  0.870  1.186630  0.740       18      Plp1
2727  0.857  1.190990  0.714       18       Mbp
2728  0.856  1.292133  0.712       18      Ermn
2729  0.844  1.323532  0.688       18     Ptgds
2730  0.836  1.127908  0.672       18     Cryab
2731  0.829  1.195959  0.658       18      Mobp
2732  0.819  0.958365  0.638       18      Scd2
2733  0.817  1.100528  0.634       18       Mag
2734  0.805  1.107113  0.610       18       Mal
2735  0.791  0.659767  0.582       18  Hsp90ab1
2736  0.784  0.982276  0.568       18     Enpp2
2737  0.779  0.943710  0.558       18     Sept4
2738  0.766  1.228873  0.532       18    Tspan2
2739  0.760  0.931282  0.520       18     Gpm6b
2740  0.760  0.911853  0.520       18    Cldn11
2741  0.760  0.879605  0.520       18       Cnp
2742  0.760  0.738795  0.520       18      Apod
2743  0.755  0.798081  0.510       18      Car2
2744  0.754  0.837385  0.508       18       Trf
2745  0.747  0.938424  0.494       18      Gatm
2746  0.735  0.891653  0.470       18     Stmn4
2747  0.731  1.075923  0.462       18      Il33
2748  0.731  1.029959  0.462       18   Gm21984
2749  0.729  0.736210  0.458       18     Syt11
2750  0.726  1.145508  0.452       18     Pex5l
2751  0.715  0.851308  0.430       18        Qk
2752  0.711  0.540692  0.422       18       App
2753  0.709  1.268858  0.418       18    Ccp110
2754  0.707  0.613964  0.414       18     Sept7
2755  0.706  0.877416  0.412       18       Mog
19       myAUC  avg_diff  power  cluster           gene
2756  0.872  1.128215  0.744       19           Ahi1
2757  0.867  1.164243  0.734       19  6330403K07Rik
2758  0.853  1.078130  0.706       19          Gap43
2759  0.845  1.021133  0.690       19           Nsg2
2760  0.844  0.872186  0.688       19          Calm2
2761  0.838  1.094347  0.676       19           Gad2
2762  0.837  1.021841  0.674       19         Pnmal2
2763  0.833  1.024901  0.666       19           Syn2
2764  0.833  0.881102  0.666       19           Ttc3
2765  0.830  0.924804  0.660       19        Zcchc12
2766  0.826  0.921908  0.652       19        Zcchc18
2767  0.824  0.949976  0.648       19          Vsnl1
2768  0.822  0.933782  0.644       19           Bex2
2769  0.819  0.862747  0.638       19          Gria2
2770  0.818  0.650810  0.636       19          Calm1
2771  0.817  0.957554  0.634       19          Myt1l
2772  0.815  1.012799  0.630       19           Syt5
2773  0.810  0.947194  0.620       19         Ppp3ca
2774  0.810  0.865721  0.620       19         Snhg11
2775  0.809  0.839462  0.618       19           Thy1
2776  0.809  0.825644  0.618       19            Gaa
2777  0.807  1.151731  0.614       19          Cplx2
2778  0.807  0.903385  0.614       19           Pnck
2779  0.806  0.885763  0.612       19           Syt1
2780  0.806  0.884289  0.612       19           Gng2
2781  0.806  0.783873  0.612       19        Tmem130
2782  0.804  0.824884  0.608       19            Nsf
2783  0.803  0.940678  0.606       19           Hap1
2784  0.803  0.876497  0.606       19         Resp18
2785  0.802  0.819431  0.604       19           Eno2
...     ...       ...    ...      ...            ...
3007  0.709  0.266567  0.418       19            Cpe
3008  0.708  0.526518  0.416       19          Tsnax
3009  0.708  0.522009  0.416       19          Pdcd4
3010  0.708  0.484492  0.416       19          Npdc1
3011  0.708  0.365148  0.416       19         Hp1bp3
3012  0.707  0.462167  0.414       19           Dpp6
3013  0.707  0.451197  0.414       19          Rab6a
3014  0.707  0.402789  0.414       19          Myo5a
3015  0.707  0.387308  0.414       19          Calm3
3016  0.707  0.378700  0.414       19         Atp5g3
3017  0.706  0.728643  0.412       19     D3Bwg0562e
3018  0.706  0.696383  0.412       19          Cpne6
3019  0.706  0.498708  0.412       19  1500011B03Rik
3020  0.706  0.440144  0.412       19         Gabrg2
3021  0.705  0.422627  0.410       19         Sucla2
3022  0.705  0.383548  0.410       19          Soga3
3023  0.705  0.378219  0.410       19           Sod1
3024  0.705  0.376200  0.410       19          Gnao1
3025  0.704  0.522798  0.408       19           Rgs2
3026  0.704  0.477493  0.408       19          Mtch1
3027  0.704  0.371333  0.408       19           Tpi1
3028  0.703  0.640118  0.406       19         Tceal6
3029  0.703  0.458809  0.406       19          Vti1b
3030  0.703  0.439383  0.406       19  A730017C20Rik
3031  0.702  0.565779  0.404       19         Map2k1
3032  0.702  0.478690  0.404       19          Zrsr2
3033  0.702  0.343037  0.404       19           Rab1
3034  0.702  0.335303  0.404       19          Psmd7
3035  0.701  0.442121  0.402       19           Tbca
3036  0.701  0.327939  0.402       19          Prdx5

[281 rows x 5 columns]
20       myAUC  avg_diff  power  cluster     gene
3037  0.795  1.029798  0.590       20   Atp1b1
3038  0.751  0.766850  0.502       20     Ttc3
3039  0.742  0.887366  0.484       20     Rtn1
3040  0.739  0.763839  0.478       20   Nap1l5
3041  0.736  0.872647  0.472       20    Stmn3
3042  0.728  0.707865  0.456       20     Gnas
3043  0.714  0.767593  0.428       20     Ahi1
3044  0.713  0.868503  0.426       20   Snap25
3045  0.710  0.866884  0.420       20   Resp18
3046  0.707  0.766143  0.414       20     Meg3
3047  0.704  0.742880  0.408       20  Zcchc18
3048  0.702  0.702654  0.404       20    Zwint
21       myAUC  avg_diff  power  cluster           gene
3049  0.939  2.035595  0.878       21       Serpine2
3050  0.928  2.478253  0.856       21         Cacng4
3051  0.920  2.076350  0.840       21            Jun
3052  0.915  2.630507  0.830       21         Pdgfra
3053  0.902  2.122680  0.804       21          Cspg5
3054  0.901  2.109697  0.802       21         Ptprz1
3055  0.875  1.384458  0.750       21        Gpr37l1
3056  0.874  1.865208  0.748       21          Olig1
3057  0.867  1.648090  0.734       21         Marcks
3058  0.859  2.261589  0.718       21           Vcan
3059  0.859  2.142204  0.718       21          Ccnd1
3060  0.855  2.007769  0.710       21          Olig2
3061  0.843  1.586655  0.686       21           Epn2
3062  0.840  2.076955  0.680       21          Scrg1
3063  0.840  1.041067  0.680       21            Ptn
3064  0.839  1.619994  0.678       21          Cntn1
3065  0.839  1.618198  0.678       21           Egr1
3066  0.835  2.005295  0.670       21            Fos
3067  0.830  2.094804  0.660       21  3110035E14Rik
3068  0.830  1.912899  0.660       21          Fabp7
3069  0.821  0.943398  0.642       21            Dbi
3070  0.817  1.346460  0.634       21        Tsc22d1
3071  0.813  1.540574  0.626       21           Bcan
3072  0.809  2.114530  0.618       21          Gpr17
3073  0.808  1.639605  0.616       21          Ramp1
3074  0.799  1.880539  0.598       21           Rgcc
3075  0.794  1.932929  0.588       21          Cspg4
3076  0.784  1.974457  0.568       21          Rlbp1
3077  0.782  1.562130  0.564       21           Qpct
3078  0.781  1.923091  0.562       21           Fosb
...     ...       ...    ...      ...            ...
3088  0.744  0.303177  0.488       21         Malat1
3089  0.743  1.161576  0.486       21        Pcdhga9
3090  0.741  0.745369  0.482       21         Tuba1a
3091  0.738  0.784967  0.476       21         Sfrs18
3092  0.737  1.203270  0.474       21         S100a1
3093  0.735  1.604322  0.470       21        Ppfibp1

35       myAUC  avg_diff  power  cluster     gene
4187  0.912  1.528597  0.824       35      Trf
4188  0.886  1.140721  0.772       35     Fth1
4189  0.883  1.351313  0.766       35    Stmn4
4190  0.867  1.326315  0.734       35     Car2
4191  0.865  1.336836  0.730       35      Cnp
4192  0.851  1.331228  0.702       35    Lamp1
4193  0.841  1.246124  0.682       35     Glul
4194  0.840  1.035778  0.680       35      Mbp
4195  0.838  1.118583  0.676       35    Cryab
4196  0.820  1.585150  0.640       35   Opalin
4197  0.818  1.117940  0.636       35      Mag
4198  0.817  1.212829  0.634       35     Qdpr
4199  0.816  0.694145  0.632       35  mt-Cytb
4200  0.812  1.271293  0.624       35     Gatm
4201  0.793  1.202172  0.586       35    Olig1
4202  0.789  0.902882  0.578       35    Enpp2
4203  0.783  0.932776  0.566       35    Aplp1
4204  0.781  0.923248  0.562       35      Mal
4205  0.777  0.966045  0.554       35    Sept4
4206  0.773  1.097230  0.546       35  Gm21984
4207  0.773  0.701819  0.546       35     Apod
4208  0.764  1.106120  0.528       35      Mog
4209  0.764  1.022733  0.528       35     Fez1
4210  0.742  1.272468  0.484       35     Il33
4211  0.742  0.969972  0.484       35    Rnf13
4212  0.742  0.733647  0.484       35     Ermn
4213  0.736  0.547302  0.472       35    Ptgds
4214  0.731  0.791608  0.462       35    Gpm6b
4215  0.728  0.706884  0.456       35    Sept7
4216  0.727  0.612625  0.454       35     Mobp
4217  0.719  0.745547  0.438       35     Plp1
4218  0.716  1.051491  0.432       35    Evi2a
4219  0.710  1.021281  0.420       35    Cmtm5
4220  0.708  0.953874  0.416       35    Ugt8a
4221  0.707  0.718109  0.414       35   Cldn11
4222  0.702  0.658249  0.404       35     Cd81
4223  0.701  1.329042  0.402       35     Aspa
36       myAUC  avg_diff  power  cluster    gene
4224  0.986  6.028806  0.972       36    Pmch
4225  0.888  3.177194  0.776       36  Parpbp
4226  0.853  1.379020  0.706       36  Resp18
4227  0.824  2.073806  0.648       36   Pcsk2
4228  0.785  1.623346  0.570       36    Gpx3
4229  0.768  1.301816  0.536       36    Ly6h
4230  0.765  0.933237  0.530       36   Stmn2
4231  0.748  0.966357  0.496       36   Uchl1
4232  0.745  0.945726  0.490       36   Fkbp2
4233  0.739  1.304053  0.478       36  Maged2
4234  0.739  0.742623  0.478       36    Rtn1
4235  0.736  3.907066  0.472       36  Cartpt
4236  0.734  1.049455  0.468       36    Nenf
4237  0.733  0.944900  0.466       36    Caly
4238  0.722  0.736456  0.444       36  Atpif1
4239  0.717  0.771998  0.434       36   Lsamp
4240  0.711  1.435131  0.422       36   Rab3b
4241  0.704  1.004465  0.408       36  Klhl13
4242  0.703  1.491947  0.406       36   Chodl
4243  0.703  1.022869  0.406       36   Tmed3
4244  0.703  0.718327  0.406       36    Bex2
4245  0.702  0.936996  0.404       36    Ssr4
37       myAUC  avg_diff  power  cluster     gene
4246  0.975  2.768299  0.950       37     Apoe
4247  0.971  4.509848  0.942       37     Lyz2
4248  0.931  3.854293  0.862       37      Pf4
4249  0.931  3.510659  0.862       37    F13a1
4250  0.928  2.901540  0.856       37     C1qb
4251  0.927  1.513342  0.854       37   Tmsb4x
4252  0.917  2.973327  0.834       37     C1qc
4253  0.916  1.892560  0.832       37     Ctsb
4254  0.911  3.169784  0.822       37      Maf
4255  0.898  1.912829  0.796       37    Sepp1
4256  0.889  3.551890  0.778       37     Mrc1
4257  0.874  0.733780  0.748       37     Cst3
4258  0.855  3.074226  0.710       37     Dab2
4259  0.847  3.528648  0.694       37   Wfdc17
4260  0.846  3.266284  0.692       37    Stab1
4261  0.831  2.334936  0.662       37    Csf1r
4262  0.821  2.676815  0.642       37     C1qa
4263  0.821  1.756475  0.642       37      B2m
4264  0.806  1.295605  0.612       37      Jun
4265  0.796  1.525135  0.592       37      Fos
4266  0.794  2.633505  0.588       37   Fcer1g
4267  0.791  2.261335  0.582       37   Tyrobp
4268  0.789  1.909797  0.578       37     Gpx1
4269  0.787  2.326053  0.574       37  Zfp36l1
4270  0.785  2.492570  0.570       37    Fcgr3
4271  0.783  2.737442  0.566       37    Txnip
4272  0.780  1.013050  0.560       37    Rps14
4273  0.764  2.908029  0.528       37    Ms4a7
4274  0.760  1.637898  0.520       37  Serinc3
4275  0.756  1.796861  0.512       37     Lgmn
4276  0.753  1.174563  0.506       37     Ctss
4277  0.738  1.985850  0.476       37    Zfp36
4278  0.736  1.589030  0.472       37   Nfkbia
4279  0.726  2.135985  0.452       37     Cyba
4280  0.726  1.971084  0.452       37  Unc93b1
4281  0.721  2.296882  0.442       37     Nrp1
4282  0.720  1.773973  0.440       37   Laptm5
4283  0.718  2.606161  0.436       37     Ctsc
4284  0.716  2.100751  0.432       37     Klf6
4285  0.716  1.556310  0.432       37     Egr1
4286  0.716  1.342083  0.432       37     Cd63
4287  0.712  1.972009  0.424       37    Mef2c
4288  0.711  1.822800  0.422       37     Hexa
4289  0.709  2.050118  0.418       37   Rnase4
4290  0.708  2.418845  0.416       37     Cbr2
38       myAUC  avg_diff  power  cluster           gene
4291  0.995  3.205369  0.990       38            Fyn
4292  0.975  2.903092  0.950       38          Bcas1
4293  0.965  3.438096  0.930       38          Gpr17
4294  0.964  1.873980  0.928       38         Tuba1a
4295  0.960  2.295877  0.920       38          Sirt2
4296  0.955  2.487894  0.910       38          Mpzl1
4297  0.944  2.212512  0.888       38            Cd9
4298  0.900  2.676179  0.800       38          Lims2
4299  0.900  1.552020  0.800       38           Pfn2
4300  0.878  1.709246  0.756       38          S100b
4301  0.877  2.009925  0.754       38        Ppfibp1
4302  0.876  2.053546  0.752       38           Trio
4303  0.875  1.872353  0.750       38          Itpr2
4304  0.848  1.760807  0.696       38         Marcks
4305  0.843  1.985876  0.686       38           Neu4
4306  0.843  1.154530  0.686       38        Gpr37l1
4307  0.841  1.592688  0.682       38          Scrg1
4308  0.839  1.913735  0.678       38       Epb4.1l2
4309  0.838  1.819927  0.676       38          Kank1
4310  0.834  1.427516  0.668       38           Gjc3
4311  0.830  1.495241  0.660       38           Ctsl
4312  0.825  2.206340  0.650       38          Enpp6
4313  0.824  1.316995  0.648       38           Zeb2
4314  0.823  1.695696  0.646       38         Slc1a1
4315  0.821  0.797684  0.642       38           Actb
4316  0.820  1.370758  0.640       38        Slc44a1
4317  0.820  1.069750  0.640       38          Map1b
4318  0.809  1.747111  0.618       38          Pdcd4
4319  0.806  2.068263  0.612       38          Nfasc
4320  0.806  1.463240  0.612       38          Rap2a
...     ...       ...    ...      ...            ...
4378  0.721  1.428675  0.442       38         Lrrc42
4379  0.719  0.900720  0.438       38          Olig2
4380  0.719  0.869549  0.438       38          Abcd3
4381  0.718  1.399224  0.436       38          Timp4
4382  0.718  1.302695  0.436       38            Wls
4383  0.716  1.336612  0.432       38           Mtap
4384  0.716  0.571084  0.432       38           Dnm3
4385  0.715  0.823070  0.430       38           Pllp
4386  0.714  1.055202  0.428       38          Nrcam
4387  0.714  0.655343  0.428       38          Gria2
4388  0.713  0.956031  0.426       38        Arhgap5
4389  0.713  0.761739  0.426       38           Top1
4390  0.713  0.709270  0.426       38        Cdc37l1
4391  0.712  0.907329  0.424       38         Asrgl1
4392  0.712  0.873772  0.424       38       Cdc42se2
4393  0.712  0.485138  0.424       38            Son
4394  0.711  0.409669  0.422       38            Jun
4395  0.708  1.603301  0.416       38         Fkbp15
4396  0.707  2.266839  0.414       38         Pik3r3
4397  0.707  1.370491  0.414       38           Cask
4398  0.707  0.998002  0.414       38           Snx1
4399  0.706  1.635306  0.412       38        Tmem108
4400  0.705  1.566042  0.410       38  3110035E14Rik
4401  0.705  1.324955  0.410       38          Peli1
4402  0.705  0.898187  0.410       38         Elovl7
4403  0.703  1.136820  0.406       38          Lrch3
4404  0.703  0.908171  0.406       38          Luzp2
4405  0.702  1.044187  0.404       38          Bcar1
4406  0.702  0.805607  0.404       38         Prpf4b
4407  0.702  0.503863  0.404       38          Sept7

[117 rows x 5 columns]
39       myAUC  avg_diff  power  cluster    gene
4408  0.911  6.915862  0.822       39  Hbb-bs
4409  0.853  5.700072  0.706       39  Hbb-bt
4410  0.853  5.616001  0.706       39  Hba-a1
4411  0.823  5.348487  0.646       39  Hba-a2
40       myAUC  avg_diff  power  cluster           gene
4412  0.954  3.867684  0.908       40  1500015O10Rik
4413  0.861  7.574794  0.722       40            Ttr
4414  0.818  2.639885  0.636       40         Kcnj13
4415  0.814  2.723922  0.628       40        Sostdc1
4416  0.810  1.348885  0.620       40        Arl6ip1
4417  0.808  2.715721  0.616       40          Enpp2
4418  0.807  0.864561  0.614       40            Clu
4419  0.796  1.640072  0.592       40         Ndufa1
4420  0.774  1.165361  0.548       40        Fam213a
4421  0.768  1.614254  0.536       40           Etfb
4422  0.731  1.467346  0.462       40          Ifi27
4423  0.728  1.273930  0.456       40          Cox8a
4424  0.727  2.399573  0.454       40          Folr1
4425  0.727  2.138549  0.454       40         Calml4
4426  0.719  0.991457  0.438       40           Ldhb
4427  0.713  1.750695  0.426       40          Vamp8
4428  0.713  1.505117  0.426       40         Crebrf
4429  0.703  1.463944  0.406       40        Slco1c1
41       myAUC  avg_diff  power  cluster           gene
4430  0.997  1.294517  0.994       41           Lhx8
4431  0.996  2.137707  0.992       41           Irs4
4432  0.993  1.789404  0.986       41          Kcnh7
4433  0.993  0.980595  0.986       41          Chrm5
4434  0.991  2.047524  0.982       41           Prlr
4435  0.989  1.366209  0.978       41          Gm129
4436  0.988  1.213453  0.976       41          Mipep
4437  0.988  0.944072  0.976       41        Fam210b
4438  0.987  1.416808  0.974       41          Noc4l
4439  0.987  1.415919  0.974       41          Chodl
4440  0.987  1.153445  0.974       41         Hilpda
4441  0.985  1.438039  0.970       41          Senp5
4442  0.985  1.115883  0.970       41        Dnajc25
4443  0.983  1.518921  0.966       41        Stxbp5l
4444  0.983  1.380362  0.966       41          Epha7
4445  0.983  1.075068  0.966       41          Cgnl1
4446  0.983  0.915745  0.966       41            Arx
4447  0.983  0.865190  0.966       41         Lysmd3
4448  0.982  1.151672  0.964       41         Zfp672
4449  0.980  1.091328  0.960       41         Cadps2
4450  0.980  0.883623  0.960       41           Msh6
4451  0.980  0.861595  0.960       41          Cpne2
4452  0.980  0.844104  0.960       41          Trak1
4453  0.979  1.262329  0.958       41         Acvr2a
4454  0.979  0.900088  0.958       41           Hrh3
4455  0.978  0.869208  0.956       41          Smpd3
4456  0.978  0.827112  0.956       41            Htt
4457  0.977  1.129104  0.954       41        Golga7b
4458  0.976  1.241544  0.952       41          Robo2
4459  0.976  1.227417  0.952       41       Rpgrip1l
...     ...       ...    ...      ...            ...
6836  0.702  0.236489  0.404       41          Zmym4
6837  0.702  0.231858  0.404       41        Gpalpp1
6838  0.702  0.229910  0.404       41         Cnot10
6839  0.702  0.228727  0.404       41         Sh3gl3
6840  0.702  0.226665  0.404       41        Kbtbd11
6841  0.702  0.219809  0.404       41          Trap1
6842  0.702  0.201794  0.404       41          Sf3a1
6843  0.701  0.701339  0.402       41          Mpv17
6844  0.701  0.604046  0.402       41           Crcp
6845  0.701  0.541703  0.402       41          Hook1
6846  0.701  0.521397  0.402       41         Eif2s1
6847  0.701  0.483509  0.402       41           Cdh8
6848  0.701  0.483287  0.402       41          Yipf1
6849  0.701  0.479468  0.402       41         Tmem64
6850  0.701  0.337303  0.402       41          Gspt2
6851  0.701  0.336413  0.402       41           Ache
6852  0.701  0.327700  0.402       41           Elp3
6853  0.701  0.312878  0.402       41  2510002D24Rik
6854  0.701  0.300703  0.402       41          Rusc1
6855  0.701  0.296462  0.402       41           Acp1
6856  0.701  0.292901  0.402       41         Rpp25l
6857  0.701  0.288783  0.402       41         Cluap1
6858  0.701  0.253214  0.402       41          Ptprf
6859  0.701  0.247281  0.402       41          Fahd1
6860  0.701  0.243664  0.402       41          Med22
6861  0.701  0.241898  0.402       41         Alkbh5
6862  0.701  0.237161  0.402       41           Rnd2
6863  0.701  0.223083  0.402       41        Nsmce4a
6864  0.701  0.216527  0.402       41        Snrnp48
6865  0.701  0.203931  0.402       41          Usp32

[2436 rows x 5 columns]

In [53]:
df.groupby('cluster').describe().head()

        avg_diff                                                              \
           count      mean       std       min       25%       50%       75%
cluster
0          323.0  0.624531  0.175893  0.364205  0.491062  0.596651  0.729390
1          109.0  0.868817  0.169609  0.467214  0.761172  0.851672  0.978899
2          342.0  0.599796  0.174228  0.230671  0.466270  0.579214  0.694755
3           54.0  2.425819  0.700234  0.615907  2.012508  2.392945  2.899495
4            1.0  1.362237       NaN  1.362237  1.362237  1.362237  1.362237

                   myAUC            ...                    power            \
              max  count      mean  ...        75%    max  count      mean
cluster                             ...
0        1.622876  323.0  0.747486  ...    0.77250  0.897  323.0  0.494972
1        1.291036  109.0  0.771679  ...    0.81400  0.864  109.0  0.543358
2        1.617671  342.0  0.743477  ...    0.76575  0.901  342.0  0.486953
3        4.077598   54.0  0.787852  ...    0.83575  0.955   54.0  0.575704
4        1.362237    1.0  0.869000  ...    0.86900  0.869    1.0  0.738000


              std    min    25%    50%     75%    max
cluster
0        0.076609  0.402  0.428  0.478  0.5450  0.794
1        0.097336  0.402  0.464  0.534  0.6280  0.728
2        0.069728  0.402  0.430  0.470  0.5315  0.802
3        0.142090  0.404  0.459  0.532  0.6715  0.910
4             NaN  0.738  0.738  0.738  0.7380  0.738

[5 rows x 24 columns]

### Apply function to partitions of (or whole) dataframe

In [60]:
df.groupby('cluster').apply(np.amax).head()

         myAUC  avg_diff  power  cluster     gene
cluster
0        0.897  1.622876  0.794        0    Zwint
1        0.864  1.291036  0.728        1     Zeb2
2        0.901  1.617671  0.802        2    Zwint
3        0.955  4.077598  0.910        3      Vim
4        0.869  1.362237  0.738        4  mt-Rnr2

In [62]:
df.iloc[:, :-1].groupby('cluster').apply(lambda x: x.max() ** 2).head()

            myAUC   avg_diff     power  cluster
cluster
0        0.804609   2.633727  0.630436      0.0
1        0.746496   1.666774  0.529984      1.0
2        0.811801   2.616858  0.643204      4.0
3        0.912025  16.626801  0.828100      9.0
4        0.755161   1.855690  0.544644     16.0

### More groupby

In [63]:
grouping = df.groupby('cluster')
grouping

In [64]:
for label, grp in grouping:
    print('cluster {} myAUC max: {}'.format(label, grp['myAUC'].max()))

cluster 0 myAUC max: 0.897
cluster 1 myAUC max: 0.864
cluster 2 myAUC max: 0.901
cluster 3 myAUC max: 0.955
cluster 4 myAUC max: 0.869
cluster 5 myAUC max: 0.961
cluster 6 myAUC max: 0.856
cluster 7 myAUC max: 0.711
cluster 8 myAUC max: 0.887
cluster 9 myAUC max: 0.953
cluster 10 myAUC max: 0.863
cluster 11 myAUC max: 0.933
cluster 12 myAUC max: 0.832
cluster 13 myAUC max: 0.994
cluster 14 myAUC max: 0.958
cluster 15 myAUC max: 0.872
cluster 16 myAUC max: 0.875
cluster 17 myAUC max: 0.882
cluster 18 myAUC max: 0.87
cluster 19 myAUC max: 0.872
cluster 20 myAUC max: 0.795
cluster 21 myAUC max: 0.939
cluster 22 myAUC max: 0.862
cluster 23 myAUC max: 0.709
cluster 24 myAUC max: 0.849
cluster 25 myAUC max: 0.855
cluster 26 myAUC max: 0.904
cluster 27 myAUC max: 0.74
cluster 28 myAUC max: 0.723
cluster 29 myAUC max: 0.978
cluster 30 myAUC max: 0.994
cluster 31 myAUC max: 1.0
cluster 32 myAUC max: 0.894
cluster 33 myAUC max: 0.841
cluster 34 myAUC max: 1.0
cluster 35 myAUC max: 0.912
cluster 36 myAUC max: 0.986
cluster 37 myAUC max: 0.975
cluster 38 myAUC max: 0.995
cluster 39 myAUC max: 0.911
cluster 40 myAUC max: 0.954
cluster 41 myAUC max: 0.997

---
<a id='combine'></a>
## Merging, joining, and concatenating

- `concat` can do almost everything for you
- Other functions are `merge`, `join`, `append`

In [65]:
# in situ data
insitu_ctrl = pd.read_csv('data_for_lectures/insitu-ctrl.txt', delimiter=' ', header=None,).transpose()
insitu_fat = pd.read_csv('data_for_lectures/insitu-fat.txt', delimiter=' ', header=None,).transpose()

for df in [insitu_ctrl, insitu_fat]:
    df.columns = ['nts', 'vgat', 'vglut2']
    df.columns.name = 'gene'
    df.index.name = 'cell'
    
insitu_ctrl.head()

gene     nts     vgat   vglut2
cell
0     1.5831  32.2526   0.0000
1     1.0900   0.0000  37.5083
2     3.5255   4.8921   4.9607
3     0.0000   0.0000   0.0000
4     0.2963   1.3258  23.0985

### Concatenation

- `concat` combines a list of DataFrames
- Works much like numpy--dimensions should match along the axis you are concatenating

In [66]:
pd.concat([insitu_ctrl, insitu_fat], axis=1).head()

gene     nts     vgat   vglut2       nts     vgat   vglut2
cell
0     1.5831  32.2526   0.0000    9.4920   9.7850   7.1140
1     1.0900   0.0000  37.5083    1.8630   0.0000   1.6823
2     3.5255   4.8921   4.9607  126.0144   9.3607   1.1116
3     0.0000   0.0000   0.0000    4.9399  43.5770   5.2057
4     0.2963   1.3258  23.0985   30.2910   0.0000  17.2772

In [67]:
pd.concat([insitu_ctrl, insitu_fat], axis=0).head()

gene     nts     vgat   vglut2
cell
0     1.5831  32.2526   0.0000
1     1.0900   0.0000  37.5083
2     3.5255   4.8921   4.9607
3     0.0000   0.0000   0.0000
4     0.2963   1.3258  23.0985

In [68]:
pd.concat([insitu_ctrl, insitu_fat], axis=0).sort_index().head()

gene     nts     vgat   vglut2
cell
0     1.5831  32.2526   0.0000
0     9.4920   9.7850   7.1140
1     1.0900   0.0000  37.5083
1     1.8630   0.0000   1.6823
2     3.5255   4.8921   4.9607

**Notice Index labels are maintained and we have repeats**

**`ignore_index` resets index to default**

In [69]:
pd.concat([insitu_ctrl, insitu_fat], axis=0, ignore_index=True).sort_index(axis=0).head()

gene     nts     vgat   vglut2
0     1.5831  32.2526   0.0000
1     1.0900   0.0000  37.5083
2     3.5255   4.8921   4.9607
3     0.0000   0.0000   0.0000
4     0.2963   1.3258  23.0985

In [70]:
pd.concat([insitu_ctrl, insitu_fat], axis=0, ignore_index=True).sort_index(axis=0).tail()

gene      nts   vgat   vglut2
25607  0.0000  0.000   0.0000
25608  2.0429  0.000  15.0927
25609  1.9199  0.000  33.4847
25610  3.1569  0.000   3.1647
25611  0.6409  0.247   0.0000

In [71]:
pd.concat([insitu_ctrl, insitu_fat], axis=1, ignore_index=True).head()

           0        1        2         3        4        5
cell
0     1.5831  32.2526   0.0000    9.4920   9.7850   7.1140
1     1.0900   0.0000  37.5083    1.8630   0.0000   1.6823
2     3.5255   4.8921   4.9607  126.0144   9.3607   1.1116
3     0.0000   0.0000   0.0000    4.9399  43.5770   5.2057
4     0.2963   1.3258  23.0985   30.2910   0.0000  17.2772

**Add hierarchical level to keep organization using parameter `keys`.**

In [72]:
pd.concat([insitu_ctrl, insitu_fat], axis=0, keys=['ctrl', 'fat']).head()

gene          nts     vgat   vglut2
     cell
ctrl 0     1.5831  32.2526   0.0000
     1     1.0900   0.0000  37.5083
     2     3.5255   4.8921   4.9607
     3     0.0000   0.0000   0.0000
     4     0.2963   1.3258  23.0985

In [73]:
pd.concat([insitu_ctrl, insitu_fat], axis=0, keys=['ctrl', 'fat']).tail()

gene          nts   vgat   vglut2
    cell
fat 12690  0.0000  0.000   0.0000
    12691  2.0429  0.000  15.0927
    12692  1.9199  0.000  33.4847
    12693  3.1569  0.000   3.1647
    12694  0.6409  0.247   0.0000

In [75]:
pd.concat([insitu_ctrl, insitu_fat], axis=1, keys=['ctrl', 'fat']).describe()

               ctrl                                       fat                \
gene            nts          vgat        vglut2           nts          vgat
count  12917.000000  12917.000000  12917.000000  12695.000000  12695.000000
mean      13.348858      7.624550      8.053630     10.624147      8.551800
std       34.302328     13.140338     16.984538     29.587007     16.013405
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.222100      0.000000      0.000000      0.000000      0.000000
50%        2.502000      1.808600      1.109700      1.803500      0.535700
75%        6.832000      9.526300      7.490700      5.841200     10.185350
max      250.945300    190.695600    218.975500    244.651900    183.516500


gene         vglut2
count  12695.000000
mean      13.277236
std       24.309336
min        0.000000
25%        0.000000
50%        1.719600
75%       15.865700
max      215.071700

## Operations

There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [105]:
import pandas as pd
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info on Unique Values

In [77]:
df['col2'].unique()

array([444, 555, 666])

In [78]:
df['col2'].nunique()

3

In [81]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### Applying Functions

In [82]:
def times2(x):
    return x*2

In [83]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [84]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [85]:
df['col1'].sum()

10L

** Permanently Removing a Column**

In [86]:
del df['col1']

In [88]:
df.columns

Index([u'col2', u'col3'], dtype='object')

In [91]:
df.drop('col1', axis=1).columns

Index([u'col2', u'col3'], dtype='object')

** Get column and index names: **

In [94]:
df.columns = ['a', 'b', 'c']

In [95]:
df

   a    b    c
0  1  444  abc
1  2  555  def
2  3  666  ghi
3  4  444  xyz

In [93]:
df.index

RangeIndex(start=0, stop=4, step=1)

** Sorting and Ordering a DataFrame:**

In [96]:
df

   a    b    c
0  1  444  abc
1  2  555  def
2  3  666  ghi
3  4  444  xyz

In [98]:
df.sort_values(by='b') #inplace=False by default

   a    b    c
0  1  444  abc
3  4  444  xyz
1  2  555  def
2  3  666  ghi

** Find Null Values or Check for Null Values**

In [99]:
df.isnull()

       a      b      c
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [ ]:
# Drop rows with NaN Values
df.dropna()

** Filling in NaN values with something else: **

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [ ]:
df

## Data Input and Output

- Has a couple of `pd.read_XX` methods
- Can handle text files and Excel files

### CSV Input

In [103]:
df = pd.read_csv('data_for_lectures/gene-expr.csv')
df

      myAUC  avg_diff  power  cluster           gene
0     0.897  1.622876  0.794        0           Gad2
1     0.861  1.151010  0.722        0  A030009H04Rik
2     0.857  1.025466  0.714        0         Nap1l5
3     0.845  1.056095  0.690        0          Zwint
4     0.839  0.980689  0.678        0        Zcchc18
5     0.838  0.910083  0.676        0           Ttc3
6     0.835  0.976621  0.670        0         Snhg11
7     0.835  0.959488  0.670        0           Meg3
8     0.832  0.983590  0.664        0          Celf4
9     0.831  1.233286  0.662        0           Gad1
10    0.830  0.986635  0.660        0         Snap25
11    0.830  0.937059  0.660        0         Atp1b1
12    0.828  1.141674  0.656        0           Syt1
13    0.828  0.962677  0.656        0         Impact
14    0.825  1.183220  0.650        0        Slc32a1
15    0.825  0.973680  0.650        0            Nsf
16    0.825  0.964731  0.650        0          Vsnl1
17    0.823  0.969593  0.646        0       Atp6v1g2
18    0.821  0.937424  0.642        0           Ahi1
19    0.820  0.902410  0.640        0           Mdh1
20    0.817  0.946529  0.634        0           Syn2
21    0.816  0.899202  0.632        0          Gap43
22    0.816  0.894171  0.632        0           Peg3
23    0.815  0.910571  0.630        0          Ndrg4
24    0.813  0.935064  0.626        0           Got1
25    0.811  0.833034  0.622        0          Fkbp3
26    0.810  0.850628  0.620        0           Bex2
27    0.809  0.832525  0.618        0          Stmn2
28    0.808  0.845924  0.616        0          Stmn3
29    0.808  0.756265  0.616        0          Calm2
...     ...       ...    ...      ...            ...
6836  0.702  0.236489  0.404       41          Zmym4
6837  0.702  0.231858  0.404       41        Gpalpp1
6838  0.702  0.229910  0.404       41         Cnot10
6839  0.702  0.228727  0.404       41         Sh3gl3
6840  0.702  0.226665  0.404       41        Kbtbd11
6841  0.702  0.219809  0.404       41          Trap1
6842  0.702  0.201794  0.404       41          Sf3a1
6843  0.701  0.701339  0.402       41          Mpv17
6844  0.701  0.604046  0.402       41           Crcp
6845  0.701  0.541703  0.402       41          Hook1
6846  0.701  0.521397  0.402       41         Eif2s1
6847  0.701  0.483509  0.402       41           Cdh8
6848  0.701  0.483287  0.402       41          Yipf1
6849  0.701  0.479468  0.402       41         Tmem64
6850  0.701  0.337303  0.402       41          Gspt2
6851  0.701  0.336413  0.402       41           Ache
6852  0.701  0.327700  0.402       41           Elp3
6853  0.701  0.312878  0.402       41  2510002D24Rik
6854  0.701  0.300703  0.402       41          Rusc1
6855  0.701  0.296462  0.402       41           Acp1
6856  0.701  0.292901  0.402       41         Rpp25l
6857  0.701  0.288783  0.402       41         Cluap1
6858  0.701  0.253214  0.402       41          Ptprf
6859  0.701  0.247281  0.402       41          Fahd1
6860  0.701  0.243664  0.402       41          Med22
6861  0.701  0.241898  0.402       41         Alkbh5
6862  0.701  0.237161  0.402       41           Rnd2
6863  0.701  0.223083  0.402       41        Nsmce4a
6864  0.701  0.216527  0.402       41        Snrnp48
6865  0.701  0.203931  0.402       41          Usp32

[6866 rows x 5 columns]

### CSV Output

In [104]:
df

      myAUC  avg_diff  power  cluster           gene
0     0.897  1.622876  0.794        0           Gad2
1     0.861  1.151010  0.722        0  A030009H04Rik
2     0.857  1.025466  0.714        0         Nap1l5
3     0.845  1.056095  0.690        0          Zwint
4     0.839  0.980689  0.678        0        Zcchc18
5     0.838  0.910083  0.676        0           Ttc3
6     0.835  0.976621  0.670        0         Snhg11
7     0.835  0.959488  0.670        0           Meg3
8     0.832  0.983590  0.664        0          Celf4
9     0.831  1.233286  0.662        0           Gad1
10    0.830  0.986635  0.660        0         Snap25
11    0.830  0.937059  0.660        0         Atp1b1
12    0.828  1.141674  0.656        0           Syt1
13    0.828  0.962677  0.656        0         Impact
14    0.825  1.183220  0.650        0        Slc32a1
15    0.825  0.973680  0.650        0            Nsf
16    0.825  0.964731  0.650        0          Vsnl1
17    0.823  0.969593  0.646        0       Atp6v1g2
18    0.821  0.937424  0.642        0           Ahi1
19    0.820  0.902410  0.640        0           Mdh1
20    0.817  0.946529  0.634        0           Syn2
21    0.816  0.899202  0.632        0          Gap43
22    0.816  0.894171  0.632        0           Peg3
23    0.815  0.910571  0.630        0          Ndrg4
24    0.813  0.935064  0.626        0           Got1
25    0.811  0.833034  0.622        0          Fkbp3
26    0.810  0.850628  0.620        0           Bex2
27    0.809  0.832525  0.618        0          Stmn2
28    0.808  0.845924  0.616        0          Stmn3
29    0.808  0.756265  0.616        0          Calm2
...     ...       ...    ...      ...            ...
6836  0.702  0.236489  0.404       41          Zmym4
6837  0.702  0.231858  0.404       41        Gpalpp1
6838  0.702  0.229910  0.404       41         Cnot10
6839  0.702  0.228727  0.404       41         Sh3gl3
6840  0.702  0.226665  0.404       41        Kbtbd11
6841  0.702  0.219809  0.404       41          Trap1
6842  0.702  0.201794  0.404       41          Sf3a1
6843  0.701  0.701339  0.402       41          Mpv17
6844  0.701  0.604046  0.402       41           Crcp
6845  0.701  0.541703  0.402       41          Hook1
6846  0.701  0.521397  0.402       41         Eif2s1
6847  0.701  0.483509  0.402       41           Cdh8
6848  0.701  0.483287  0.402       41          Yipf1
6849  0.701  0.479468  0.402       41         Tmem64
6850  0.701  0.337303  0.402       41          Gspt2
6851  0.701  0.336413  0.402       41           Ache
6852  0.701  0.327700  0.402       41           Elp3
6853  0.701  0.312878  0.402       41  2510002D24Rik
6854  0.701  0.300703  0.402       41          Rusc1
6855  0.701  0.296462  0.402       41           Acp1
6856  0.701  0.292901  0.402       41         Rpp25l
6857  0.701  0.288783  0.402       41         Cluap1
6858  0.701  0.253214  0.402       41          Ptprf
6859  0.701  0.247281  0.402       41          Fahd1
6860  0.701  0.243664  0.402       41          Med22
6861  0.701  0.241898  0.402       41         Alkbh5
6862  0.701  0.237161  0.402       41           Rnd2
6863  0.701  0.223083  0.402       41        Nsmce4a
6864  0.701  0.216527  0.402       41        Snrnp48
6865  0.701  0.203931  0.402       41          Usp32

[6866 rows x 5 columns]

In [106]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [109]:
df.to_csv('example.csv')

In [110]:
pd.read_csv('example.csv')

   Unnamed: 0  col1  col2 col3
0           0     1   444  abc
1           1     2   555  def
2           2     3   666  ghi
3           3     4   444  xyz

Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

### Excel Input

In [ ]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1')

### Excel Output

In [ ]:
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1')